[2016-10-26 17:29] aroben opened #23 "Would like a LICENSE file in the repo"
[`ddtrace.gemspec` specifies the MIT license](https://github.com/DataDog/dd-trace-rb/blob/d8e938c6103f9ff03fb14e21aa5400d5c03cd9d9/ddtrace.gemspec#L21), but there's no corresponding LICENSE file in the repo. A LICENSE file is what GitHub uses to detect the repository's license (see https://help.github.com/articles/open-source-licensing/). Would you please consider adding one?

[2016-10-26 18:59] #23 closed, assigned to palazzem

[2016-11-10 15:40] aroben opened #33 "Child finishing after parent "resurrects" the parent for subsequent spans"
Consider the following code:

[code]

It is surprising that `c`'s parent gets set to `a`.

This happens because `b.finish` calls `Tracer#record` which [stores the finished span's parent in the `SpanBuffer`](https://github.com/DataDog/dd-trace-rb/blob/a75ac88be8b0a32ebd815f99ba434b53e2e41262/lib/ddtrace/tracer.rb#L146). So now the already-finished parent span (`a`) gets used as the parent for subse

[2016-12-09 21:34] huoxito opened #40 "Only call ActiveRecord if it's defined"
There are a few references to ActiveRecord in the code but not all rails apps uses or even load the active_record these days. Any chance we could add checks like `if defined?` or similar around ActiveRecord references in the code pls?

[code]

[2016-12-11 04:21] ejholmes opened #41 "Datadog::Tracer.trace always returns the span, even if block is given"
When [Datadog::Tracer.trace](https://github.com/DataDog/dd-trace-rb/blob/master/lib/ddtrace/tracer.rb#L116) is called with a block, I would expect the last line of the block to be used as a return value.

For example, given the following:

[code]

I would expect `@trace.trace` to return the rack response. In reality, it currently returns the Datadog::Span.

[2016-12-12 10:07] palazzem commented on #40
Thank you for pointing that! We will address that in the next release (soon)!

[2016-12-12 10:08] palazzem commented on #41
Thank you for pointing that and for your contribution! I'll check the PR soon!

[2016-12-12 11:00] #41 closed

[2016-12-12 11:01] palazzem commented on #41
Fixed in #42

[2016-12-12 13:56] huoxito commented on #40
thanks @palazzem, in case it helps this helps me boot a rails app without loading activerecord https://github.com/huoxito/dd-trace-rb/compare/master...huoxito:no-active-record

[2016-12-12 14:08] palazzem commented on #40
thank you for the code! we will follow something really similar to your approach. Will let you know when that problem is fixed and released so that you can use again our upstream.

[2016-12-14 19:21] msaffitz commented on #40
With the proposed fix, if ActiveRecord is defined but the database connection isn't the gem will throw an `ActiveRecord::ConnectionNotEstablished` exception.  Unfortunately there are a ton of gems that require ActiveRecord (or Rails as a whole) that don't actually use it, resulting in a soft-dependency on having the ActiveRecord gem present but remain unused.

It'd be great if the fix for this iss

[2016-12-23 14:00] galdor commented on #40
Regarding this last issue, what do you mean about a database connection not being defined ? If the database cannot be reached, Rails will display an error, but there won't be any uncaught exception. Would you have an example so that we can reproduce the problem ?

[2016-12-30 13:06] galdor commented on #33
Fixed by #49 .

[2016-12-30 13:06] #33 closed

[2016-12-30 23:25] msaffitz commented on #40
@galdor here's the full stack trace we're getting:

[code]

[2017-01-03 09:40] galdor commented on #40
This problem should be fixed with #50. Could you please try `master` ? If it works, I'll close the ticket.

[2017-01-04 18:33] msaffitz commented on #40
With active record completely removed, we saw the following:

[code]

With ActiveRecord present (but without a DB defined), we did not have any exceptions at launch.

[2017-01-05 19:47] msaffitz opened #52 "Infinite Stack Recursion within Sidekiq"
We're seeing an infinite stack recursion within our Sidekiq workers when using the dd-trace-rb gem:

[code]

[2017-01-05 19:50] msaffitz opened #53 "Performance / Logging when Agent is Not Available"
When the agent is not available we see huge numbers of log lines of the form:

`Connection refused - connect(2) for "localhost" port 7777`

(For example, we see this in our test environment and it seems that the tests run much more slowly and/or timeout as a result.  I'd expect the Rails integration to no-op in any environment other than production.)

[2017-01-06 10:29] palazzem commented on #53
Thank you @msaffitz to report this issue! We're working to write better (but more important) useful logs from our tracing clients. We'll provide a fix as soon as possible!

[2017-01-06 10:35] palazzem commented on #52
@msaffitz that infinite stack recursion is really problematic. Because it's the first time we spot this, we're going to give priority to this problem!

[2017-01-12 16:25] palazzem commented on #53
@msaffitz we could provide a patch for a "generic" Rails application so that it could detect the production mode if default environments are used (using something like ``Rails.env.production?``). If someone is not using the default naming convention (that could surely happen), you can disable the tracer updating our settings in a tracer initializer:
[code]

Later on, we'll address other things lik

[2017-01-19 13:41] palazzem commented on #40
@msaffitz we have merged #62 that should address this problem. Basically it should handle ``ActiveRecord`` like before, but it ensures that the ``Datadog::Contrib::Rails::ActiveRecord`` is defined. If you can confirm, I'll close this issue. Thank you!

[2017-01-19 13:46] palazzem commented on #53
@msaffitz we've merged #55 so that Rails is disabled by default in the next release. This means that you have to follow the snippet in the PR description if you're going to use the ``master`` branch. We will release this one as the next ``0.4.0``.

Closing that for now but feel free to continue the discussion with more ideas!

[2017-01-21 23:50] palazzem commented on #52
@msaffitz we've changed how [we instrument Redis][1] and now it should work effortless. We will ship this change with the next release.

[1]: https://github.com/DataDog/dd-trace-rb/pull/56

[2017-01-24 01:35] palazzem commented on #40
The fix for this issue is available in the latest [0.4.0 release][1]. Closing for now, but feel free to re-open it if something is not working properly.

[1]: https://github.com/DataDog/dd-trace-rb/releases/tag/v0.4.0

[2017-01-24 01:35] #40 closed

[2017-01-24 01:35] palazzem commented on #52
The fix for this issue is available in the latest [0.4.0 release][1]. Closing for now, but feel free to re-open it if something is not working properly.

[1]: https://github.com/DataDog/dd-trace-rb/releases/tag/v0.4.0

[2017-01-24 01:35] #52 closed

[2017-02-08 17:51] hugobast commented on #53
Hi everyone,

Is it possible that this fix isn't fixing anything? I've fought with this locally on my dev environment for about 30 minutes and decided to look into the lib to see what was happening. On require there's an object that gets initialized: https://github.com/DataDog/dd-trace-rb/blob/master/lib/ddtrace.rb#L7 That completely disregards the config, of note no options are passed to it.

Tha

[2017-02-22 19:50] robbkidd commented on #53
Just started using this agent while testing out APM. I'm seeing the `Connection refused - connect(2) for "localhost" port 7777` in environments where I have explicitly disabled it (in either config/application.rb or an initializer). e.g.:

[code]

I can reproduce the error running the Rails console in this environment:

[code]

`Sending data from process` has me suspect that something is telling [

[2017-02-22 21:37] robbkidd commented on #53
Is this maybe a workaround? I've managed to turn off the connection attempts and log spam by only requiring the `ddtrace` gem in the initializer if it I want tracing. Setting my feature flag to `'true'` does enable tracing again and send data along.

[code]

[code]

[2017-02-23 00:29] hugobast commented on #53
@robbkidd Yes that's how I _fixed_ it too.

[2017-02-23 07:40] palazzem commented on #53
Thank you @hugobast and @robbkidd for reporting the issue. We're going to reopen that and be sure that with the next release the logging is working properly!

[2017-02-23 15:59] robbkidd commented on #53
Is logging the issue or is it a symptom of connection attempts being made even when the tracer is disabled?

[2017-03-01 16:48] walterking commented on #53
I tried to only require if its enabled like robbkidd suggests, but we want to do custom instrumentation so if the Datadog object isnt defined it will fail for any of those.  Seeing something get enqueued after we set datadog_trace config but before its actually disabled when using sidekiq

[2017-03-03 01:44] sj26 opened #80 "Sidekiq in development doesn't respect initializer config"
We have configured datadog tracer to be enabled only in production:

[code]

But when booting sidekiq in development, datadog tracer starts recording and attempting to write traces much earlier when sidekiq communicates with redis during startup (after the railtie's before_configuration but before after_initialize):

[code]

Perhaps when setting `Datadog::Tracer.enabled = false` the tracer should

[2017-03-03 02:12] sj26 commented on #80
The only way to prevent this seems to be preventing `ddtrace` from being required at all outside production by using `gem "ddtrace", group: "production"` in the Gemfile. We'd prefer to keep it loaded in all environments for parity with production and so we can add application instrumentation.

[2017-03-06 08:17] sj26 commented on #80
More specifically, this seems to be the problem:

https://github.com/DataDog/dd-trace-rb/blob/10e4534db082d8787382dd54126560f72dcd4a76/lib/ddtrace.rb#L48

Because redis is patched and starts writing spans well before anything in `config/initializers/*` is loaded there are already recorded spans attempting to be sent to the datadog agent before the tracer is disabled in development.

[2017-03-06 09:30] palazzem commented on #80
Thank you for reporting that @sj26 ! we'll be sure that the next release doesn't have such kind of issues.

[2017-03-06 18:49] cabello opened #84 "Feature request: auto detect ActiveRecord on Sinatra app"
Hi, we are integrating some Sinatra apps, they all use ActiveRecord for database connection I see in the source code instrumentation for ActiveRecord on Rails apps, it would be awesome to have similar kind of detection on Sinatra apps.

[2017-03-06 23:24] sj26 opened #85 "Sidekiq tracer middle reconfigures already-configured datadog tracer"
Using sidekiq in a rails app, I have already configured datadog tracer in an initializer:

[code]

When I add the sidekiq tracer middleware to my sidekiq config without any options:

[code]

Then `Datadog.tracer` is implicitly reconfigured with sidekiq defaults [by the middleware's initializer](https://github.com/DataDog/dd-trace-rb/blob/master/lib/ddtrace/contrib/sidekiq/tracer.rb#L31-L35). I fou

[2017-03-07 09:18] palazzem commented on #85
Hello @sj26 ! yes actually we haven't released the Sidekiq integration because we still need to fix the interaction between the library and Rails. I will keep you updated about this issue.

Thanks for reporting that!

[2017-03-07 12:21] sj26 commented on #85
@palazzem sorry, we're probably jumping the gun a bit! But we're wanting to give Datadog APM a good go while we're still in trial which means turning on all the bells and whistles and getting it recording and tagging spans across the board. So far it's pretty amazing to see every request and job popping up   live as a trace, fully tagged!

[2017-03-07 12:37] palazzem commented on #85
@sj26 eheheh thank you! actually I'm working on https://github.com/DataDog/dd-trace-rb/pull/86 that solves some problems with the Sidekiq integration. After that I'll prepare another PR for your use case that makes sense to me, and that must be supported easily without any effort from your side :)

[2017-03-07 14:58] palazzem commented on #53
https://github.com/DataDog/dd-trace-rb/pull/86 should remove the root cause about Redis sending traces despite defined settings. A configuration like:
[code]
ensures that:
* Rails is auto-instrumented after bundler requires `ddtrace`
* Redis is auto-instrumented after bundler requires `ddtrace`
* if `redis-rails` is used and Redis is auto-instrumented, `redis-rails` will use the traced Redis clien

[2017-03-07 14:58] palazzem commented on #80
https://github.com/DataDog/dd-trace-rb/pull/86 should remove the root cause about Redis sending traces despite defined settings. A configuration like:
[code]
ensures that:
* Rails is auto-instrumented after bundler requires `ddtrace`
* Redis is auto-instrumented after bundler requires `ddtrace`
* if `redis-rails` is used and Redis is auto-instrumented, `redis-rails` will use the traced Redis clien

[2017-03-08 08:39] palazzem commented on #53
Fixed with #86 . @robbkidd if you think that it doesn't solve the problem, feel free to re-open the discussion. A new release will be shipped by the end of the week!

[2017-03-08 08:39] #53 closed

[2017-03-08 08:44] palazzem commented on #80
Fixed with #86 . Redis auto-instrumentation (available after any kind of `require 'ddtrace'`) honors the Rails initializer. So if the tracer is disabled, Redis is instrumented after so that no traces are sent from the transport layer (but traces are still generated and Redis is still instrumented). This plays well with Rake scripts and Sidekiq (in environments where the tracer is not enabled).

If

[2017-03-08 08:44] #80 closed

[2017-03-08 15:22] palazzem commented on #85
Hello @sj26 ! https://github.com/DataDog/dd-trace-rb/pull/87 should fix this issue. Actually we're inheriting the Rails configuration if it's available, so your code should work without any further change. Let me know if you think it will not fix the problem.

Closing the issue for now.

[2017-03-08 15:22] #85 closed

[2017-03-09 10:48] palazzem commented on #85
Hello @sj26 ! we've released a new version of the gem: https://github.com/DataDog/dd-trace-rb/releases/tag/v0.5.0

Let us know if it's working for you!

[2017-03-09 10:49] palazzem commented on #53
We've released a new gem version that should handle this issue: https://github.com/DataDog/dd-trace-rb/releases/tag/v0.5.0

@robbkidd think it should fix your problems, let us know if it doesn't!

[2017-03-09 16:28] FinnBorge commented on #53
@palazzem the updated gem does not seem to correct the issue. Still need the initializer.

[2017-03-09 16:53] palazzem commented on #53
@FinnBorge can you provide me more details? Actually what is your stack (Rails + Sidekiq?) and what is your `Rails.configuration.datadog_trace` configuration for the `auto_instrument_*` fields?

[2017-03-09 16:56] FinnBorge commented on #53
Rails + Redis
[code]

[2017-03-09 17:00] FinnBorge commented on #53
My mistake @palazzem, misread the history of this I think.
[code]
works fine.

[2017-03-09 17:06] palazzem commented on #53
oh no worries @FinnBorge ! thank you anyway for reporting that!

Actually if the `enabled` flag is set to `false`, the expected behavior is to have Rails and Redis instrumented (so traces / spans are generated like in your staging / production / whatever environment), but they are not sent to the Agent (good thing for your CI / development environments).

[2017-03-10 02:17] cabello opened #89 "Feature request: net/http instrumentation should add trace-id and span-id"
Hi, by checking the docs for [trace](http://pypi.datadoghq.com/trace/docs/#distributed-tracing) and the gem source code it seems that the `net/http` instrumentation does not add the headers for parent trace nor parent span.

It would be awesome to have that as an configurable option, so it could be turned on and we could get multi-service traces working out of the box by using DataDog official lib

[2017-03-10 09:21] palazzem commented on #89
Thank you @cabello for this feature request! Actually the `net/http` integration traces only the HTTP call but we were thinking about having this feature "somewhere", maybe not enabled by default. We will keep you updated about the progress.

Thanks!

[2017-03-14 20:48] tpendragon opened #90 "Sidekiq w/ ActiveJob reports wrong resource."
All my Sidekiq metrics are reporting the resource as `ActiveJob::QueueAdapters::SidekiqAdapter::JobWrapper`.

[2017-03-14 20:50] tpendragon commented on #90
This should be pretty straight-forward to fix, just need to check for the 'wrapped' option in the job arguments: https://github.com/rails/rails/blob/master/activejob/lib/active_job/queue_adapters/sidekiq_adapter.rb#L22

[2017-03-14 20:53] tpendragon opened #91 "Sidekiq middleware throws an error if no options are passed."
If I do as the docs suggest and do this:

[code]

it tells me that it expected 1 argument for Tracer and got 0. If I pass some argument to Tracer as in the next part of the docs, it works. I think Tracer just needs adjusted so it looks like so:

[code]

[2017-03-20 04:47] sj26 commented on #85
@palazzem sorry for the delay, we're just updating now. Looks good — thanks! :+1:

[2017-03-21 10:10] ufoot commented on #91
Thanks for the report!

[2017-03-21 13:18] ufoot commented on #84
Indeed, it would be relevant to have AR work transparently when used from Sinatra.

[2017-03-22 05:48] ufoot commented on #91
I think https://github.com/DataDog/dd-trace-rb/pull/93/ should fix this.

[2017-03-23 15:39] ufoot commented on #90
FYI @tpendragon I applied the patch you suggested, and it works well. Will very likely ship in our next stable release (coming soon). See https://github.com/DataDog/dd-trace-rb/pull/94 for details.

[2017-03-28 09:42] #90 closed

[2017-03-28 10:21] gingerlime commented on #91
When is 0.6.0 due out? I was told Monday by your support... looking forward to getting this fix out officially.

[2017-03-28 11:59] ufoot commented on #91
It should be building right now, release in process.

[2017-03-28 11:59] #91 closed

[2017-03-28 21:24] Ferdy89 opened #99 "The logger is sometimes too noisy but not configurable"
We currently have a big Rails app running on Heroku and using DataDog. There are a few legitimate situations under which we see the following message flooding our consoles and logs:
[code]
Some of these situations are:
* When compiling assets before a deployment. The Datadog buildpack won't start the agent until the application is actually ready to be started, so during asset compilation our conso

[2017-03-29 15:42] ufoot commented on #99
Hi, thanks for reporting this. Indeed, being able to override the default `Logger` is something which could be very useful. One thing we also consider doing is prefixing our messages when using the default logger, so that messages coming from `ddtrace` are clearly identified as such (currently, we find identifying them within the flow of a complete app is not convenient).

[2017-04-05 00:44] sj26 opened #103 "Not every exception is a 500"
I noticed you've actually highlighted this in the current tracer code:

https://github.com/DataDog/dd-trace-rb/blob/master/lib/ddtrace/contrib/rails/action_controller.rb#L66-L68

Not every exception raised during controller processing maps to a 500 response. By default, current rails inserts the [ActionDispatch::ShowExceptions middleware](https://github.com/rails/rails/blob/master/actionpack/lib/a

[2017-04-05 09:55] ufoot commented on #99
FYI -> https://github.com/DataDog/dd-trace-rb/pull/102 this should fix your issue I think, introducing a `log=` func to tracer.

[2017-04-05 09:56] ufoot commented on #103
Oh, interesting indeed. Thanks for the feedback. We need to address this, translating 4xx to 5xx is clearly not the right thing to do.

[2017-04-05 16:04] ufoot commented on #99
#102 merged into master, `0.6.1` about to be released.

[2017-04-05 16:04] #99 closed

[2017-04-07 09:45] ufoot commented on #84
Available in https://github.com/DataDog/dd-trace-rb/releases/tag/v0.6.2 , thanks again for your work!

[2017-04-07 09:45] #84 closed

[2017-04-25 14:03] Ferdy89 opened #120 "Capture StandardError lets some Exceptions through"
I'd like to continue the discussion started [here](https://github.com/DataDog/dd-trace-rb/pull/111#discussion_r112983808) regarding how in the recently added Rack middleware [only `StandardError`s are captured](https://github.com/DataDog/dd-trace-rb/blob/master/lib/ddtrace/contrib/rack/middlewares.rb#L61).

I wanted to point out some examples of similar gems that have similar Rack middlewares and

[2017-04-25 14:59] Ferdy89 opened #121 "The Railtie adds an unnecessary initializer"
Hi! We've been using version 0.7.0 since yesterday and we've noticed the Rack middleware wasn't working for us. The reason is because we require the gem manually on an initializer (only in presence of `ENV['DD_API_KEY']`) and by that point no new initializers can be added. [Here's a link to the code I'm talking about](https://github.com/DataDog/dd-trace-rb/blob/master/lib/ddtrace.rb#L49-L57).

I d

[2017-04-25 16:14] ufoot commented on #120
Good catch, we probably want to do this, but also limit it to the cases where we (re)raisen the error once we've captured it. Thanks for pointing this out!

[2017-04-25 16:30] ufoot commented on #121
Thanks for the report. We definitely need to dig into this. (hint: we know there can be some significant side effects depending on when the instrumentation is triggered, including, but not limited to, properly handling our own config and overrides)

[2017-05-02 13:54] krasnoukhov opened #124 "Option to customize Sidekiq service on a worker level"
Here is use case we have: some of the jobs are long-running by design (up to 30 minutes) which skews average for the whole service.

We want to keep average latency monitoring as it is for the rest of the jobs, so the way I see it we can just extract slow ones to be reporting to a separate service.

I'm going to create a PR for this

[2017-05-10 08:11] #124 closed

[2017-05-20 10:55] renchap opened #132 "ActionCable Instrumentation"
It would be great to have ActionCable instrumentation built into the gem.
There is an `perform_action.action_cable` notification emitted, I think it should not be very hard to hook into it.

[2017-06-09 17:41] BaneOfSerenity opened #135 "Redis Service"
I have an application where it has to connect to 2 separate redis servers. I would like to set the service on each connection separately but right now it seems the redis service is a constant and can't be changed. If it could be passed into the patched initializer with the rest of the args that would be great.

[2017-06-12 09:50] ufoot commented on #135
Hi @BaneOfSerenity indeed this is clearly on our TODO list, will ping you whenever we release support for this config option.

[2017-06-15 04:15] whithajess commented on #53
What do we do when not using rails.

[2017-06-15 23:41] whithajess opened #138 "Configuring non Rails tracers."
I am struggling to work out how I can recreate the same:

[code]

For a non Rails app when adding something like the Rack Trace Middleware you can do:
[code]
**UPDATE: this doesn't actually work either ^**

but when adding `Datadog::Monkey.patch_module(:active_record)` there is no option to disable this means when running in **test** or **development** modes  you get a whole bunch of:

[code]
If i

[2017-06-16 01:24] whithajess commented on #138
Found you can just set Datadog.tracer.configure(enabled: ['test','development'].exclude?(ENV['RACK_ENV'])) will first patch documents to make this clear before closing this.

[2017-06-19 11:31] denmat commented on #135
Would like to see this too 👍

[2017-06-20 09:08] ufoot commented on #138
Indeed, using `Datadog.trace.configure` is the way to go here. Thanks for reporting this.

[2017-06-20 18:06] wassimk opened #139 "Correct Sinatra instrumentation"
We use Datadog APM for all our Rails apps but have not been able to make it work for our Sinatra apps. Can you direct me to the most current instructions? We want to try again.

http://www.rubydoc.info/github/DataDog/dd-trace-rb/#Sinatra
-or-
https://github.com/DataDog/dd-trace-rb#quickstart-integration

Or a combination of?

[2017-06-20 19:35] palazzem commented on #139
Hello @wassimk! you can check the current updated documentation here: http://www.rubydoc.info/github/Datadog/dd-trace-rb/v0.7.2#Sinatra (it points to the same doc of your first link). Exactly what issue did you have while doing the first round of instrumentation?

Thank you!

[2017-06-20 22:20] whithajess opened #140 "Distributed Tracing - Setting up automation."
Having problems setting up distributed tracing for Rack applications.

Because I want to set it across all our rack apps where there is no individual trace calls I need to do it at the middleware level. The problem being if you set `parent_id` and `trace_id` inside the trace call in `lib/ddtrace/contrib/rack/middlewares.rb` it gets overridden inside the `lib/ddtrace/tracer.rb` at:
[code]
This func

[2017-06-20 22:42] emaiax commented on #139
@wassimk I've managed to work with sinatra using this [examples](https://github.com/DataDog/trace-examples). See if that works for you. :)

[2017-06-21 02:46] whithajess commented on #140
Figured it out for #141

[2017-06-21 02:46] #140 closed

[2017-06-21 15:17] wassimk commented on #139
Perhaps I'm just not understanding. On a Sinatra app does it automatically trace events like it does with Rails? Or do I need to send what I want?

The agent is running on the server. I know for sure because a Rails app on same server is sending APM data correctly.

I see it running when I launch the Sinatra app.

[code]

The code in `config.ru`:
[code]

[2017-06-21 23:42] emaiax commented on #139
@wassimk the tracer for sinatra seems to configure itself out of the box for `App < Sinatra::Application` only. Are you trying to trace a `Sinatra::Base`?

[2017-06-22 20:36] wassimk commented on #139
@emaiax --- you are correct, sir! We were inheriting from `Sinatra::Base`. We switched to`Sinatra::Application` and disabled a few things we didn't want and it's good to go!

[2017-06-22 20:36] #139 closed

[2017-06-22 21:02] emaiax commented on #139
@wassimk another test you could run, it's to manually register sinatra's tracer inside your class, like this:

[code]

This should do the trick without changing your app. :)
It took me a while to found this out. I'll send a PR fixing the docs, ok @palazzem?

[2017-07-06 23:59] whithajess opened #148 "Rails configuration not disabling patch_modules"
Setting disabled in the rails configuration:
[code]
will not stop any patch_modules from trying to connect to the ddagent (not wanted inside test/dev environments without the agent):
[code]

It seems that the same option on the tracer will stop it (according to the documentation they do the same thing)
[code]

Related to https://github.com/DataDog/dd-trace-rb/issues/138

[2017-07-07 03:16] ejholmes opened #149 "Consider moving railtie to "ddtrace/rails""
It's a bit unnerving to install the ddtrace gem and have [this Railtie](https://github.com/DataDog/dd-trace-rb/blob/master/lib/ddtrace.rb#L29-L59) automatically loaded. In some instances, people may want to be explicit about configuring their rails app and middleware.

It would be nice if the railtie required an explicit require:

[code]

Otherwise, we have to jump through some hoops to ensure tha

[2017-07-07 03:55] ejholmes opened #150 "Meaning of "app" in set_service_info?"
This isn't really Ruby specific, but I can't find any docs that talk about the meaning of the `app` argument to [set_service_info](https://github.com/DataDog/dd-trace-rb/blob/master/lib/ddtrace/tracer.rb#L102):

[code]

How is this used in the backend?

[2017-07-07 18:29] dorner opened #153 "Not working with Rails 3.0"
There are a few missing pieces for Rails 3.0 which cause the tracer to either crash or not work. I'll open a PR to fix these.

[2017-07-10 15:19] sanjitsaluja opened #155 "Sidekiq Issues"
Notes:
- Running Sidekiq in Kubernetes.

We are seeing several Sidekiq threads get stuck with the following trace. It seems a deadlock. Anyone see issues like these running DataDog in sidekiq?

[code]

[2017-07-15 01:40] ejholmes commented on #150
To somewhat answer my own question, it looks like this is used as a tooltip when you hover over the type in the web UI:

![](http://ejholmes.github.com.s3.amazonaws.com/JMoDR0DjKOBOqumKE7w85MpEiYDxnUZjKm.png)

I think a good example of how you might use this would be to distinguish different database types (e.g. `postgres`, `mongo`, `redis`, etc).

[2017-07-18 12:14] ufoot commented on #155
Oh, that's bad indeed. Will try and reproduce the issue locally. Meanwhile, FYI, #145 changes quite a bit the way we transmit traces. More precisely https://github.com/DataDog/dd-trace-rb/pull/145/files#diff-968f743eeebc764c9c42cf2f4b286605R250 -> this `record` method does not "synchronizes" any more. At some point, yes, it's going to synchronize on some items, but not globally on the tracer as be

[2017-07-18 12:15] ufoot commented on #153
FYI, did some little CI nitpicks in #157, ensuring tests are actually run on Rails 3.0.

[2017-07-18 12:18] ufoot commented on #150
Indeed, we need to rework our docs so that this is more explicit.

[2017-07-18 12:47] ufoot commented on #89
Implemented in #151

[2017-07-24 12:37] ufoot commented on #155
https://github.com/DataDog/dd-trace-rb/releases/tag/v0.8.0 is out, I suggest upgrading to it, it should really help fixing. At least, the blocking code mentioned above has been removed.

[2017-07-25 02:16] whithajess commented on #148
I have looked into this a little further and it seems to be around Rails Initialisation and the default tracer the pin starts as
[code]
and throws a good 6-7 errors before ending up with the pin being set to
[code]
from the
[code]
this is made worse because running multiple tests as it means it does this lots.

I think this is probably caused by the default
[code]
not being set with any configurat

[2017-07-25 02:19] whithajess commented on #148
@ufoot do you have any ideas? I really want to remove the double configuration currently have to do:
[code]
to get it to not print out errors when running tests

[2017-07-25 23:41] cabello opened #165 "Question on distributed tracing"
I have a Sinatra app that is already reporting to Datadog, I am attempting to enable distributed tracing, should this work?

[code]

The docs mention using the Rack middleware for Rack apps and the extension for Sinatra apps (also Rack apps), hence the question.

[2017-07-26 01:59] cabello commented on #165
Exciting!!! Trying this out tomorrow, I have a Rails app (caller) and a Sinatra app (receiver), this is how they are configured:

[code]

And the Sinatra app:
[code]

Local tests show that everything should work as expected. I verified it was working by turning debug on and checking the trace and span IDs.

[2017-07-26 07:59] palazzem commented on #165
Great news @cabello! thanks for trying our distributed tracing for Rails-Sinatra! At the moment the functionality is experimental, but our goal is to have it supported out of the box without issues. If you have any feedback, feel free to add them here!

Thank you a lot!

[2017-07-26 16:13] DubHunt opened #167 "High memory usage"
We added dd-trace-rb to a couple of applications across 6 servers the other day and within 24 hours we were receiving high memory utilization alerts for every server. Suspecting dd-trace-rb, we conditionally required it for only one of the 3 servers per application via an env var. Again, we began seeing high memory utilization, this time only on the instances where dd-trace-rb was required.

All s

[2017-07-26 18:03] cabello commented on #165
It's working very well, thanks a lot :) 🎉

[2017-07-26 18:03] #165 closed

[2017-07-27 00:52] sanjitsaluja commented on #155
Okay I'll try this out and reopen if necessary.

[2017-07-27 00:52] #155 closed

[2017-07-27 08:15] palazzem commented on #167
Thanks @DubHunt for reporting that! Performances (and memory usage) are critical and we'll investigate that one immediately. Can you open a ticket so that we can collect more details about your stack and how the tracer is instrumenting (or auto-instrumenting) your application?

Thank you a lot!

[2017-07-27 23:00] DubHunt commented on #167
Thanks. I've uploaded logs for request #102561

[2017-07-28 09:13] DennisSchmidt opened #168 "Feature request: Possibility to ignore controller#action"
I would like to have the possibility to ignore certain controller#actions in rails.

**Reason**: I have a route which acts as health check for my rails app and gets hit several times per second to monitor the uptime. This action is quite fast and therefor influences my results/latency heavily in a way that it actually gives me a false result regarding my actual requests per min and my latency.

So

[2017-07-31 08:58] palazzem commented on #168
Sure @DennisSchmidt, this is a feature request that definitely makes sense. Indeed we implemented something in the Python client to discard some traces when the given URL matches a specific value. You can see the high level PR (not yet released) here: https://github.com/DataDog/dd-trace-py/pull/303
Also, the implementation is generic, so you can write your own filters.

Considering that our plan i

[2017-07-31 10:04] DennisSchmidt commented on #168
That sounds like it would solve my problem.

I made a simple and quick [approach](https://github.com/DennisSchmidt/dd-trace-rb/commit/af1be8cb1c40b911cc8d4aab4f77d4dc4b44b26f), which solves my usecase for now. Of course, yours is more generic and would help more people I guess.

Thx for answering 👍

[2017-07-31 10:34] palazzem commented on #168
you're welcome! I'll keep this issue open so that it can be linked to the PR when it will be available! Thanks also for providing your approach! It could help other users till the filtering pipeline is shipped!

[2017-08-07 08:52] #153 closed

[2017-08-07 08:52] #120 closed

[2017-08-07 08:52] #103 closed

[2017-08-07 08:52] #89 closed

[2017-08-08 11:32] #138 closed

[2017-08-08 23:23] rsullivan-gpsw opened #172 "Gem Load Error for Rails when ActiveRecord is disabled"
I have a Rails application that uses dynamodb instead of ActiveRecord. I have disabled active record by commenting it out in `application.rb`. This works fine with the `0.7` versions of ddtrace, but when I upgrade to `0.8.0` I get the following error.

[code]

example `application.rb`

[code]

[2017-08-09 10:15] ufoot commented on #172
Thanks for reporting this. This sadly is a reintroduced bug (see https://github.com/DataDog/dd-trace-rb/commit/225074d10e672c458a9283c08f05c412b93a2da7 ) however this https://github.com/DataDog/dd-trace-rb/commit/68b130d8ce3bf6bb0d0f26f2cb41b6cac6404cb5 should fix it and the good news is this is scheduled for release `0.8.1`, coming soon.

[2017-08-09 14:25] NullVoxPopuli opened #176 "When on a host that does not have ddtrace setup, the reporter repeatedly tries to send instrumentation"
This nearly makes `rails c` on a staging environment unusable.

Is there a way to disable this 'auto-retry'?

[2017-08-10 10:55] ufoot commented on #172
Should really be fixed by https://github.com/DataDog/dd-trace-rb/releases/tag/v0.8.1

[2017-08-10 10:55] #172 closed

[2017-08-10 11:24] ufoot commented on #176
Thanks for the feedback. Indeed this auto-retrying can quickly fill your logs. OTOH it's legit to retry, the agent could show up after "some time". FYI the `enabled` flag of the tracer can possibly help you in that case.

Either you disable it by (general case):
[code]
Or (Rails specific):
[code]
This should keep your code instrumented, but won't send data to the agent. A common pattern is to set

[2017-08-10 12:49] NullVoxPopuli commented on #176
cool, thanks

I think I may be able to set enabled=false based on

 defined? Rails::Console
=> "constant"
defined? Rails::Server
=> nil

I'll try it out, and see how it goes

[2017-08-10 18:46] NullVoxPopuli commented on #176
This works wonderfully:

[code]

[2017-08-11 03:24] ponny commented on #167
Getting same issue.  Similar graph.  Removing ddtrace for now to see if it improves.

[2017-08-11 07:52] palazzem commented on #167
@ponny thanks for reporting this! We've already found one possible cause where in some code paths Rails spans are not properly closed. As soon as the fix is in place and released, we contact you again. Thanks a lot for pointing out this critical issue!

[2017-08-17 18:14] theasteve commented on #138
Should we replace the configuration on  ```datadog-tracer.rb``` file with ```Datadog.tracer.configure(enabled: ['test','development'].exclude?``` ?

[2017-08-25 13:46] davetron5000 commented on #53
I'm having this issue because, despite `enabled:` being false, if you call `Datadog::Monkey.patch_all` it seems to re-enable it.

My current config that doesn't have this problem is:

[code]

[2017-08-25 17:18] mgodwin commented on #167
Hey @palazzem - Has there been any update on this?  Thanks.

[2017-08-28 08:09] palazzem commented on #167
Hi @mgodwin! We're working on it right now since it has the highest priority. At the moment, we're triaging Rails cases where a trace is not finished and flushed. Mostly, it should be related to code exceptions, or to our integration listeners that are not triggered by Rails. If this is the case, it's possible that the memory grows a lot in high traffic environments (it's not expected of course) b

[2017-08-28 08:28] palazzem commented on #53
Thanks @davetron5000 for sharing your working configuration. It's possible that the problem is more related to the fact that `Datadog::Monkey.patch_all` patches automatically all available libraries, while the `enabled` argument is evaluated only when Rails calls our initializer.

This may create traces (and so logs if the agent is not available) when libraries such as Redis, Mongoid, or others, a

[2017-08-29 17:23] skisulli commented on #176
I also have this problem when running rake tasks against environments I have instrumented. Anyone have a solution to disable the tracer for Rake tasks?

[2017-08-29 17:51] palazzem commented on #176
Hello @skisulli! does the solution proposed above, helps you to solve the problem? otherwise, can you give us some snippets or more details about your issue?

[2017-08-29 18:06] skisulli commented on #176
The solution above works fine for use in the Rails console, but when I run a rake task that uses the rails environment, I get output like the following. `Rails::Console` is not defined in a rake task.

In this specific example, I have a rake task that clears a few dynamodb tables that are used only for caching purposes. The command prompts the user if they want to run this in qa, staging, or produ

[2017-08-30 10:55] palazzem commented on #176
Thanks for the logs! Let me think about a possible solution here, because at the moment we offer a way to disable auto instrumentation via env variables: http://gems.datadoghq.com/trace/docs/#label-Disabling+Rails+auto-instrumentation

In the meantime, I'll check if we can do something better to exclude automatically the instrumentation when `rake` is used (though sometimes developers may want to

[2017-08-31 13:09] palazzem commented on #148
Thank you @whithajess! that's an important issue since the core problem is the Rails initialization that configures the tracer too late. We want to find a solution as soon as possible.

I'll keep you updated!

[2017-09-05 16:22] DubHunt commented on #167
We ran 0.8.2-RC1 on one of our servers for 3 days and the memory utilization looked similar to all of our other servers. 👍

[2017-09-06 13:23] palazzem commented on #167
that's great! thanks @DubHunt for the follow-up! we need to address another connected issue today, but we'll ship the 0.8.2 tomorrow whatever!

Thanks everyone for your precious feedback! Will update the issue when the release is out.

[2017-09-08 15:41] palazzem commented on #167
Cool, @DubHunt we've released a new version that has the fix: https://github.com/DataDog/dd-trace-rb/releases/tag/v0.8.2

I suggest everyone involved in this issue to try this new version if it's solved or not. /cc @mgodwin @ponny

[2017-09-08 15:41] #167 closed

[2017-09-08 16:22] cabello commented on #168
IMHO for flexibility this could be part of the tracer API instead of a list of routes, for example `tracer.skip`, `tracer.ignore`, etc could be the first thing you call in your controller or be a `before_action` callback.

[2017-09-08 16:25] cabello opened #186 "Consider having a CHANGELOG, CHANGES file"
I was watching the memory issue issue and I see it got addressed on today's release 0.8.2, I wanted to broadcast to my team members what changes were included in this version and I couldn't find release notes/changelog/changes file, I know the gem is still under heavy development (being on version 0.X) but this would be highly beneficial for users of the gem.

Thanks for considering it.

[2017-09-08 16:28] palazzem commented on #186
hello @cabello ! at the moment we're only using the GitHub release so all details about the changes are here: https://github.com/DataDog/dd-trace-rb/releases/tag/v0.8.2

I includes also a full changeset diff, but maybe it could be better to write it also in a CHANGELOG file?

[2017-09-11 17:02] cabello commented on #186
That's actually great, thank you.

[2017-09-11 17:02] #186 closed

[2017-09-11 17:10] palazzem commented on #186
@cabello you're welcome! feel free to create an issue whenever you think we can improve our process or our communications about important changes! it helps us a lot! thanks again!

[2017-09-15 17:07] nerdrew opened #188 "Refactor request: objections to moving all reads of Rails.configuration.datadog_trace to the Railtie"
Sample code:

[code]

I can submit a PR that includes this a + removing all references to `::Rails.configuration.datadog_trace`.

My motivation for this change is changes I'd like to make to redis patcher. I want to pass config to the redis patcher (`default_redis_service` and an option to include the redis hostname in the service name, see https://github.com/DataDog/dd-trace-rb/issues/135).

Thou

[2017-09-15 21:18] nerdrew commented on #135
Want to see if this PR does what you were thinking? https://github.com/DataDog/dd-trace-rb/pull/190

It adds config for `default_redis_service` and `redis_service_include_hostname`.

[2017-09-15 21:18] nerdrew commented on #188
cc @danielni

[2017-09-18 09:14] palazzem commented on #188
@nerdrew that sounds interesting. I didn't comment your Redis PR since I think we should tackle this one first. I think that we should provide a common way to configure our integrations (with good defaults), so having a kind of `config` object may be useful. If we follow this approach, we should propagate the change in all other integrations, maybe using your Redis PR as example before doing the s

[2017-09-18 16:38] nerdrew commented on #188
That makes sense. Let me know what you think.

[2017-09-30 23:03] palazzem commented on #121
@Ferdy89 probably we're very late in the answer, but we're working on this PR that should work for you. Feel free to have a try and to provide any feedback. It will remain WIP until we're sure it works. Also we'll try to add a regression test.

Thank you for reporting that and sorry again!

[2017-10-02 06:48] walterking opened #210 "faraday trace headers"
I dont use faraday, but shouldn't
https://github.com/DataDog/dd-trace-rb/blob/master/lib/ddtrace/contrib/faraday/middleware.rb#L59
be
            Ext::DistributedTracing::HTTP_HEADER_PARENT_ID => span.span_id
like http/patcher.rb?

[2017-10-02 06:52] palazzem commented on #210
@walterking good catch! Yes the header is called `*_parent_id` but of course it should be related to the current `span.span_id` (since that one will be the parent of the other service root span).

Making a PR immediately! thanks!

[2017-10-06 17:08] #210 closed

[2017-10-06 17:51] palazzem commented on #121
@Ferdy89 https://github.com/DataDog/dd-trace-rb/pull/208 has been merged and should address this problem. We've reproduced the issue in another application and with this patch it's working. Let us know if it doesn't for you!

Thanks a lot for reporting the issue, while providing a working solution!

[2017-10-06 17:51] #121 closed

[2017-10-10 00:09] webandtech opened #220 "Memory explodes and logs show Request Entity Too Large / Connection reset by peer"
I have only seen this on a Sidekiq Server process with the Sidekiq instrumentation enabled - I have a particular sidekiq process running some very hefty, sometimes long running jobs, that when I attempt to enable the tracer the memory explodes quickly and the logs fill up with errors from ddtrace.

I am running 5 sidekiq processes on one host / dyno. Without ddtrace enabled, memory usage gets up t

[2017-10-10 00:19] palazzem commented on #220
Thanks for reporting that @webandtech. Can you activate the debug mode for some minutes and write here some logs, looking for [this specific line](https://github.com/DataDog/dd-trace-rb/blob/master/lib/ddtrace/context.rb#L63)? if Sidekiq integration has an issue, it's possible that it doesn't close correctly the trace causing a (wrong) high memory usage.

Thank you!

[2017-10-10 19:12] webandtech commented on #220
Unfortunately I was not able to reproduce this in an ad hoc run with debug enabled. It could have been related to the specific job running but I hesitate to re-enable the tracer on that process in production.

[2017-10-11 07:14] palazzem commented on #220
@webandtech thanks for trying that! I will investigate more in our Sidekiq integration. In the meantime, can you send us more details about what APM integrations are you using other than Sidekiq? (feel free to open a ticket in our support channel!)

[2017-10-30 10:29] jamiehodge opened #236 "Sinatra request path does not include script name"
The sinatra tracer currently omits the script name from the request path. This means that all subclasses of Sinatra::Base occupy the same path namespace.

Given subclasses Foo and Bar, `/foo/:id` should not be conflated with `/bar/:id`

[2017-10-30 12:58] senny opened #238 "Active Record models with different database connections"
Our application uses Active Record to connect to more than one database. The connections are defined on a per model bases. Now in DataDog APM all queries are shown under the same database service. Is it possible to split them by this connection somehow? It would be nice if we had the throughput (queries per second) and latency metrics split per database.

[2017-11-01 01:16] drewbailey opened #240 "patch level release for resque tracing error"
I was curious when the next release of ddtrace will be? A patch level release including https://github.com/DataDog/dd-trace-rb/pull/223 would be helpful and very much appreciated!

[2017-11-01 11:00] palazzem commented on #240
Hello @drewbailey ! we're going to release a new bugfix patch today or tomorrow! I'll updated this issue when it's done!

[2017-11-02 16:10] palazzem commented on #240
@drewbailey want to inform you that the gem is out!
* https://rubygems.org/gems/ddtrace/versions/0.9.1
* https://github.com/DataDog/dd-trace-rb/releases/tag/v0.9.1

Going to close this thread! thanks for your contribution!

[2017-11-02 16:10] #240 closed

[2017-11-02 19:48] billeisenhauer opened #243 "undefined local variable or method `payload`"
https://github.com/DataDog/dd-trace-rb/blob/587f9a8c440ba688a7557c52e21cab1a4572e083/lib/ddtrace/contrib/rails/core_extensions.rb#L229

One of our specs blew up and so I'm wondering if `payload` should really be `raw_payload` in this case and in other cases in this file.  It seems like this may have been copied from a method where `payload` was defined.

Here is a partial stacktrace with some deta

[2017-11-03 08:41] palazzem commented on #243
Thanks for spotting this @billeisenhauer ... going to fix that immediately!

[2017-11-03 08:58] palazzem commented on #243
This should fix the problem https://github.com/DataDog/dd-trace-rb/pull/244 ; I've also added a test for the specific case. Going to merge and release a `0.9.2`.

[2017-11-03 11:28] #243 closed

[2017-11-03 12:22] palazzem commented on #243
@billeisenhauer bug solved and PR released with the new version: https://github.com/DataDog/dd-trace-rb/releases/tag/v0.9.2 ... can you confirm the problem has been solved? thanks a lot!

[2017-11-03 17:31] billeisenhauer commented on #243
@palazzem Problem looks to be solved on our end.  Thanks for the quick turnaround!

[2017-11-07 13:22] palazzem commented on #243
Nice! you're welcome @billeisenhauer ! feel free to reach us whenever you have a feedback! Thanks again!

[2017-11-14 22:27] colby-swandale commented on #220
We're having this same issue in a rake task, i will try and run in debug mode to get the information you need. But so far I've been unable to reproduce this issue in a non-production environment.

[code]

[2017-11-15 11:01] palazzem commented on #220
We're currently working on a patch so that each single flush contains a reasonable payload (and doesn't wait the trace to be flushed). I think such kind of problems mostly happen for long-running tasks. With #247 we should reduce:
* the overall memory usage, since we don't keep too much data in memory
* the length of each single trace
* you can start seeing some spans before the whole trace is com

[2017-11-15 16:24] webandtech commented on #220
That would make sense as the processes where we were seeing this were running longer sidekiq jobs.

[2017-11-17 21:02] webandtech opened #250 "Feature Request: ActionMailer instrumentation"
Would be interested in seeing metrics such as emails sent, errors, etc

[2017-11-17 21:43] webandtech opened #251 "Feature Request: Provide queue and worker class on sidekiq metrics"
We created some dashboards using the sidekiq metrics such as trace.sidekiq.job.hits to show number of jobs being run. We run a lot of workers and queues, so it would be very helpful to get the hits tagged by sidekiq queue and worker / class so we could see which workers are running the most and how jobs are balanced across queues.

[2017-11-20 14:13] palazzem commented on #220
nice, let us test that approach (that actually requires an opt-in); then your feedback will be very relevant to us! thanks again @webandtech, especially for raising the problem!

[2017-11-20 17:55] webandtech commented on #250
I was able to get something like this going using an `around_action` in my base mailer. Could use some additional improvement then included in the base Rails instrumentation.

[code]

[2017-11-29 15:29] jjoos commented on #176
I had this issue too, because we set `DISABLE_DATADOG_RAILS` for our test environment, the code in `/lib/ddagent.rb` that sets the configuration isn't excecuted so the option `enabled` defaults to true and our tests start sending traces.

[2017-11-29 15:35] palazzem commented on #176
@jjoos we're currently fixing the problem with a new way to configure both the Tracer and Rails. Now requiring the `ddtrace` doesn't have side effects, and the new configuration looks like: https://github.com/DataDog/dd-trace-rb/pull/256

We'll add the same approach for the Tracer so that:
* integrations configuration are delayed
* `Tracer` configuration is done immediately

Will keep you updated!

[2017-12-08 21:02] abstrctn commented on #168
@palazzem Are there any general approaches being considered for implementing this feature, or concerns about ones proposed so far?

FWIW, our use case sounds the same as @DennisSchmidt, where we have a single healthcheck action we'd want to exclude

[2017-12-11 11:27] palazzem commented on #168
Hello @abstrctn ! Sorry, I forgot to follow-up here! Actually we've implemented a filter to exclude traces if a condition is satisfied. You have two different options:
* filter the healthcheck from the Datadog agent using [our configuration](https://github.com/DataDog/datadog-trace-agent/tree/master/config#apm-specific-configuration-values) with the `[trace.ignore]` option;
* filter the healthchec

[2017-12-11 17:19] cabello commented on #168
Should this issue be closed?

[2017-12-11 17:34] palazzem commented on #168
@cabello yes we can consider that one closed. But feel free to re-open it if it doesn't solve your issue! Thanks a lot!

[2017-12-11 17:34] #168 closed

[2017-12-11 17:34] abstrctn commented on #168
Thanks for the quick response @palazzem! Both of those options look really useful and should handle everything we need.

[2017-12-14 20:24] buddhistpirate opened #277 "Custom resource names for HTTP requests"
Right now the resource names for the auto-instrumented Net::HTTP code are HTTP Methods: GET, POST etc. This is not a useful way for us to see our metrics broken out. As an example, there's no meaningful way for me to sort the Service view. However, if the Resource name was the domain, I could see what services are the most used, and track them over time much better.

If you don't want to change th

[2017-12-14 22:03] buddhistpirate commented on #277
I have opened up a PR at least as an example of an approach: https://github.com/DataDog/dd-trace-rb/pull/278

[2018-01-09 10:59] dasch opened #300 "Add request id to HTTP traces"
In order to look up logs for a specific trace, we need the HTTP request id to be present.

[2018-01-09 10:59] dasch opened #301 "Include host in `http.url`"
Our system is multi-tenant, and without the host it's not possible to figure out which customer a given trace is from.

[2018-01-10 21:50] palazzem commented on #236
Hey @jamiehodge! we've addressed this issue with the latest beta release (https://github.com/DataDog/dd-trace-rb/pull/283 is the reference PR). Closing this issue since it wasn't properly tracked in the PR.

Thank you very much!

[2018-01-10 21:50] #236 closed

[2018-01-11 22:52] palazzem commented on #220
Hello @webandtech! sorry for the very late response, but the branch I wrote you before (https://github.com/DataDog/dd-trace-rb/pull/247) has been tested with success by us and other users. Would you like to provide some feedbacks so that we're sure it's solving also your problem?

After your feedback, I think we can add it in a new release. To use it you have to:
* update your Datadog Agent to a v

[2018-01-11 23:01] palazzem commented on #188
Hello @nerdrew! As I wrote in the other PR, I'm going to close this PR since the whole library has been redesigned with a new configuration system. This specific behavior has been included with the Rails refactoring available here: https://github.com/DataDog/dd-trace-rb/pull/224

Thank you very much for this PR!
(Side note: we're preparing now the 0.11.0 release with the migration guide)

[2018-01-11 23:01] #188 closed

[2018-01-11 23:04] palazzem commented on #176
Hello everyone! We've done a huge refactoring with our latest changes and the new configuration block is now available. It is part of our 0.11.0 release that will be shipped in the next couple of days. The problem has been addressed as I wrote in my previous comment. I will write you when the version is released so that you can try it immediately.

Thank you very much!

[2018-01-11 23:04] #176 closed

[2018-01-11 23:16] palazzem commented on #150
Hello @ejholmes! As you wrote in a previous post, all service metadata are used only for UI-sugar, and are automatically handled by our integrations with the latest patch available here (#306). If you want more details about the terminology, you can check our documentation and FAQ available here: https://help.datadoghq.com/hc/en-us/articles/115000702546-What-is-the-Difference-Between-Type-Service-

[2018-01-11 23:16] #150 closed

[2018-01-12 14:46] palazzem commented on #148
Hello again @whithajess! in the latest release we changed the way we instrument / configure frameworks. Now the instrumentation is activated later than the `Tracer` configuration, so you can in one single block activate Rails but disabling it immediately. This is an example of the new configuration:
[code]

In that way, the `Datadog.tracer.configure` is not required anymore. Will let you know when

[2018-01-15 09:37] dasch opened #311 "Track Active Record instantiations"
[`instantiation.active_record`](http://guides.rubyonrails.org/active_support_instrumentation.html#instantiation-active-record) is being emitted in newer versions of Rails. A significant amount of time can be spent instantiation AR classes, so it would be nice to track it.

[2018-01-15 10:54] dasch opened #312 "Trace garbage collections"
This can be a big source of latency.

[2018-01-15 14:45] dasch opened #313 "Validate options"
It took me a while to realize that the `rails` option name was `distributed_tracing: true` and not `distributed_tracing_enabled: true`. It would be great if option names were validated.

[2018-01-16 09:48] dasch opened #314 "Integrate with Carrierwave"
I'd like to trace uploads and downloads made with [Carrierwave](https://github.com/carrierwaveuploader/carrierwave).

[2018-01-17 14:42] palazzem commented on #135
Hello @BaneOfSerenity! currently we're shipping the 0.11.0 that introduces a new way to configure the `Tracer` and our integrations. It's now possible to specify the default service name that will be used automatically by all Redis clients, though you can set it also for each instance. Here an example:

[code]

I'm closing the issue since it can be considered fixed, but feel free to write your tho

[2018-01-17 14:42] #135 closed

[2018-01-19 05:39] BaneOfSerenity commented on #135
Sorry about the lack of response to the last reply. This looks great. Thanks!

[2018-01-19 17:58] Ferdy89 opened #319 "Sidekiq::Shutdown errors are reported but they're normal handled exceptions"
Hi! We recently realized that DataDog is reporting many errors for Sidekiq when we deploy our application. This is because the processes need to be killed, so Sidekiq sends the `Sidekiq::Shutdown` error to its workers. Sidekiq then handled the error properly because this is the normal lifecycle of the gem. However, [the DD tracer is capturing it](https://github.com/DataDog/dd-trace-rb/blob/master/

[2018-01-22 19:03] delner commented on #319
Hey @Ferdy89, thanks for bringing this up! Sounds like a good suggestion; we'll need to reconcile with it against how our Sidekiq tracer works. I'd be happy to take a deeper look at this and get back to you.

[2018-01-24 16:12] delner commented on #319
Took a look into reproducing this issue, and we do indeed flag Sidekiq jobs that are aborted by `Sidekiq::Shutdown` exceptions as errors.

Good news is that if you'd like these not to report as errors, you can using our "Processing Pipeline" feature, which allows you to modify or filter out spans to customize your application's needs.

Here's a snippet I whipped up that will remove the error statu

[2018-01-24 21:48] delner commented on #301
Added a pull request to address #327

[2018-01-26 05:14] hawknewton opened #328 "active_record integration breaks without sinatra"
Here's my config:
[code]
And here's what I get:

[code]

I'm sure it has something to do with [this](https://github.com/DataDog/dd-trace-rb/blob/master/lib/ddtrace/contrib/active_record/patcher.rb#L61).  To be fair I haven't tried it with sinatra, but I'd wager it'll work.

[2018-01-26 11:05] dasch opened #329 "Separate ActionController before filters from controller action"
Currently, any `before_filter` or `around_filter` invocations are reported as being in the same span as the actual controller action. In order to more easily figure out where time was spent, it would be nice to separate the two.

[2018-01-26 13:12] palazzem commented on #328
@hawknewton pretty sure it could be related. Thank you very much for reporting the issue, we're working on it immediately.

[2018-01-26 17:43] palazzem commented on #328
@hawknewton PR has been submitted and reviewed! Once the CI is green, we'll merge the PR and it will be released with the next bugfix release (happening next Monday). Thanks for reporting this critical issue!

[2018-01-26 22:50] #328 closed

[2018-01-26 22:50] palazzem commented on #328
@hawknewton merged! it will be part of the next 0.11.1 release! thanks again (also for the review)!

[2018-01-27 11:30] palazzem commented on #220
@webandtech hello! just want to follow up and see the status of this issue. Would be great receiving some feedbacks to improve or merge the proposed PR.

Thank you very much for helping us improving the Tracer!

[2018-01-27 12:55] palazzem commented on #301
@dasch PR merged! it will be part of the next 0.11.1

[2018-01-27 12:55] #301 closed

[2018-01-27 21:42] webandtech commented on #220
I haven't been able to reproduce this outside of production. I'll try to get this ref up on production shortly so we can test it there. Thanks!

[2018-01-28 12:53] palazzem commented on #220
nice! @webandtech keep us updated so we can improve this PR if needed. Thanks!

[2018-01-29 00:58] webandtech commented on #220
@palazzem With ref `e63e190bd42207048368fe12790c78bc4e526695` in production and the settings you suggested things look good to me. I will keep watching it over they next day but memory on the problematic job queue looks to be within normal ranges after a few hours. Thanks!

[2018-01-29 17:50] delner commented on #329
Hey @dasch , I'll take a look into this. Thanks for bringing this up!

[2018-01-30 13:30] senny commented on #238
I was hoping that #270 would allow us to split queries by using a span processor. Unfortunately, the `rails.database.name` tag is always set to the default connection, regardless of the query that's being annotated.

It's a bit confusing as the name suggests that it is possible to tell different databases on the same Rails app apart.

[2018-01-31 18:09] delner commented on #329
Currently working on this via https://github.com/DataDog/dd-trace-rb/pull/333

[2018-01-31 19:30] delner commented on #311
Opened a pull request to track this: https://github.com/DataDog/dd-trace-rb/pull/334

[2018-02-01 00:03] delner commented on #300
Hey @dasch , opened a [pull request](https://github.com/DataDog/dd-trace-rb/issues/300) to address this. Let me know what you think!

[2018-02-01 22:11] delner commented on #238
Ahhhh yeah, this is a good point. I think having the ability to configure individual ActiveRecord connections might be the best way to go here. Maybe something like:

[code]

...or something similar. ActiveRecord needs a bit more love; I'd be happy to take a deeper dive into this when we tackle it.

[2018-02-02 07:46] senny commented on #238
@delner yes, something like this would be perfect. Since it's in an initializer it should ideally not open the connection. Maybe it's possible just by using the name of the connection specification in `database.yml`.

[2018-02-02 20:53] stevenleeg commented on #53
I'm still seeing this issue even without calling `DataDog::Monkey.patch_all`. I've tried a configuration like so:

[code]

and yet I'm still seeing
```Failed to open TCP connection to localhost:8126 (Connection refused - connect(2) for "localhost" port 8126)````
all over my development server console. Any ideas as to where I may be going wrong here?

[2018-02-02 21:17] delner commented on #53
Hey @stevenleeg , what version of the gem are you using? As of 0.11.0, we [added a new configuration API](https://github.com/DataDog/dd-trace-rb/releases/tag/v0.11.0) that replaced the old `Rails.configuration.datadog_trace` you're using above.

In the new implementation, integrations shouldn't be automatically enabled/patched; you're expected to define each integration you'd like to trace.E.g to

[2018-02-02 22:07] stevenleeg commented on #53
Ahh yes! Looks like I was following some outdated documentation rather than the latest on this repository.

For those of you following along at home, this configuration ended up fixing things for me:

[code]

Once that was in place I was able to spin up a development server without the annoying log noise and deploy to production with tracing. 🎆

[2018-02-02 22:39] delner commented on #53
Glad to hear it's working for you! 😄

[2018-02-07 16:29] delner commented on #251
Hey @webandtech thanks for the suggestion (and sorry for the late reply!) We'll take a look at this in the coming weeks. Will let you know what develops.

[2018-02-07 16:31] delner commented on #250
Great suggestion, @webandtech ! This is on our radar; we'll take a deeper dive into it in the coming weeks. I'll keep you posted!

[2018-02-07 16:33] delner commented on #132
Hey @renchap , thanks for the suggestion! (And sorry for the crazy late reply.) Sounds like a good idea; we'll take a look at this in the next few weeks. We'll keep you posted!

[2018-02-08 12:45] rashmi-tondare commented on #53
I was following this documentation - [https://elements.heroku.com/buildpacks/datadog/heroku-buildpack-datadog](https://elements.heroku.com/buildpacks/datadog/heroku-buildpack-datadog), realised now that it was outdated 😅
Maybe you guys could put in a link to your official docs here so there will be a central point of reference then.

[2018-02-08 15:21] delner commented on #53
@rashmi-tondare Ahhh, thanks for letting us know! We'll see what we can do to get that updated.

[2018-02-09 09:50] rashmi-tondare commented on #53
@delner awesome! thank you 🙂

[2018-02-12 13:25] dasch opened #342 "Include redirection URL"
In the case of redirects, e.g. 301 and 302 responses, it would be helpful if the trace included the URL that was being redirected to.

[2018-02-13 10:35] dasch opened #344 "Allow excluding HTTP paths from the Rack config"
Currently, this is the API for excluding specific paths such as healthcheck endpoints:

[code]

This is rather verbose and unintuitive. How about this API instead?

[code]

[2018-02-13 14:43] delner commented on #238
Hey @senny , we're going to look at this in a couple of weeks. I'll keep you updated.

[2018-02-14 12:09] dasch opened #346 "Allow instrumenting specific methods"
It would be great to have a simpler way of instrumenting specific instance methods, e.g.

[code]

[2018-02-15 15:25] #300 closed

[2018-02-15 23:51] delner commented on #346
Love this idea! I'll take a look at this.

[2018-02-19 08:32] awendt opened #350 "Changelog needed but it's missing"
Hi,

I just upgraded from 0.9.2 to 0.11.2 in one of our Rails apps and found that Travis attempts to send instrumentation, the log is flooded with:

[code]

This seems to be related to #176 but our setup worked with 0.9.2. A [comment to #176](https://github.com/DataDog/dd-trace-rb/issues/176#issuecomment-347897743) mentions #256 but it seems that is not related to the `enabled` config flag. We're

[2018-02-19 08:56] palazzem commented on #350
Hello @awendt ! the current migration plan is available for 0.10 -> 0.11 under "Migration from 0.10.x to 0.11.0" section: https://github.com/DataDog/dd-trace-rb/releases/tag/v0.11.0

Probably we should make it visible somewhere else other than GitHub release notes and at this point having a `CHANGES.md` (even if a duplicate of GitHub release notes) could make things easier. What do you think?

[2018-02-19 09:07] awendt commented on #350
@palazzem Thanks for the prompt reply. I didn't think to look there, sorry 😖

Copying the information somewhere else might work but you always have to change it in 2 places if there's an error.

What do you think about a `CHANGES.md` that merely _links_ to the release notes instead?

[2018-02-19 09:09] palazzem commented on #350
This is fair enough! I'll transform this issue in an action item so that it's something we can address immediately. Thank you very much for your suggestion!

[2018-02-20 22:10] delner commented on #350
I think this is a good idea, too.

[2018-02-26 15:20] MMartyn commented on #277
I would love to see something like this make it into the gem. Knowing what service is responding slow and track historical performance would be very useful.

[2018-02-28 20:37] dorner opened #359 "ActionView::render swallows given block"
`render` can take a block implementation inside ActionView. DataDog swallows this block rather than passing it onto the underlying method, which can cause crashes when it tries to render the block since other options like `:file` and `:partial` are not given.

Testing using Rails 3.0.

[2018-02-28 21:48] delner commented on #359
Related PR https://github.com/DataDog/dd-trace-rb/pull/360

[2018-03-05 23:46] davidkarim opened #361 "Require 'ddtrace' needed even though gem defined in Gemfile"
We were getting the following error when implementing the ddtrace gem, we were seeing this error when using version 0.11.0 all the way up to the latest beta.
[code]
We were only able to get rid of this error by requiring the gem in the configuration file even though we have it defined in the Gemfile and we could see that it loaded using a bundle list.

[code]
Any input on this would be appreciated

[2018-03-06 04:57] whithajess commented on #350
@palazzem It would be awesome if dd-trace-rb followed advice on http://guides.rubygems.org/patterns/ around semantic versioning i.e

[code]
We use Pessimistic version constraints (`~>`) and because of this release we actually had breaking changes as we routinely `bundle update` relying on the fact gems we use follow the above rules and do not break our code.

Luckily I guess doing this caused casc

[2018-03-06 15:01] delner commented on #359
Resolved with #360

[2018-03-06 15:01] #359 closed

[2018-03-06 15:17] delner commented on #361
I can't replicate the issue. What I did was:

[code]

Then added to `datadog.rb`:

[code]

Then added to `Gemfile`:

[code]

Then:

[code]

Do you have some other set of steps I can follow to replicate the issue?

[2018-03-06 16:10] delner commented on #350
@whithajess I think this is a good suggestion, and we've already been taking steps to be compliant with this standard. Our `master` branch is currently tracking our stable release `0.11.x` and is receiving only bugfix changes, while our dev branch `0.12-dev` is currently tracking our next beta release `0.12.0.betax`, which has new feature implementations.

Moving forward this should make the `~>`

[2018-03-06 18:00] yahooguntu commented on #220
Any news on this? I've been running an older version of #247 for a few months now to keep the tracer from eating up all the RAM during a long-running job.

[2018-03-06 18:21] davidkarim commented on #361
We had an erroneous environment value for RAILS_ENV which was bypassing the installation of that gem in the Gemfile. Looks like this was a bug on our side. Thanks for looking into it.

[2018-03-06 18:21] #361 closed

[2018-03-06 20:51] delner commented on #220
@yahooguntu sounds like that PR has been helpful in addressing that issue. We're planning on integrating those changes back into the trunk in the near future.

[2018-03-07 04:15] whithajess commented on #350
If `0.12.0` is your next `Major` release then that will not help as you are operating in the `Minor` space i.e "backwards compatible". you will need to go to `1.0.0` for the pessimistic version constraint `~>` to work properly.

[2018-03-07 04:43] jeremyolliver commented on #350
Use of `-dev` or `beta` releases is nice, but don't address the actual issue. The pessimistic operator `~>` can be used in both of these ways:

* pinning a major X version `~> "0.10"` which means any version between `>= "0.10.0"`  AND `< 1.0`
* pinning a minor Y version `~> "0.10.2"` which means `>= "0.10.2"` AND `< 0.11`

0.7 through to 0.10 have mostly been feature releases that didn't break bac

[2018-03-07 16:46] delner commented on #350
@whithajess SemVer does specify that minor versions < 1.0 can introduce breaking changes. However, the API has stabilized quite a bit, and out of interest of making updates as stable as possible, and we would like to bump to 1.0 soon to fully embrace the post-1.0 SemVer cycle. But to get there, we might need to release some breaking changes before 1.0.

So in order to manage that, until 1.0, `0.y.

[2018-03-07 18:56] palazzem commented on #350
Thanks @delner for describing our current approach. Anyway @whithajess @jeremyolliver, we want to be very cautious about our breaking changes since we know you're spending time in the instrumentation to have better visibility of your infrastructure (and thanks for trusting us!). In the case you've described, we had to introduce the big change `0.10->0.11` to update how we were initializing our int

[2018-03-12 11:31] dasch opened #368 "Trace each middleware in the Rails stack"
I need to be able to analyze my middleware stack and find bottlenecks. I've created this patch that enables per-middleware tracing:

[code]

[2018-03-12 15:22] delner commented on #368
Awesome. I was thinking about adding a module like this before too, so this is great to see. Probably would make some sense to "first class" such a module under the Rack integration. Then it could be available for anyone to compose into their middleware, or you could patch the stack with a function like the one above.

[2018-03-13 12:02] dasch commented on #368
Yeah, it needs first-class support. Unfortunately, the above code caused problems with the resource naming of `rack.request` spans.

[2018-03-19 14:58] buddhistpirate commented on #220
Consider this a vote for this issue. We are having the same problem on some heavy hitting sidekiq jobs. Trying to get Datadog APM into production and have run into a few issues; this is the current blocker. Currently running `v0.11.2`. I'm not sure I'm comfortable going to production with this PR until it is merged into a release.

[2018-03-19 21:13] buddhistpirate opened #372 "Connection Pooling to Agent"
We're running into an issue where the agent is rate limiting us. It seems that the agent is limited to 2000 connections per lease period. However it looks like the Ruby client spins up a new connection for each request.

Would it make more sense for the Ruby client to keep open a connection to the agent and possibly do some connection pooling if it needs to?

[2018-03-19 21:37] delner commented on #372
It's an interesting thought, but it might heavily depend on agent implementation.

In theory, something like https://github.com/mperham/connection_pool might be useful for managing a pool of HTTP connections. However, it's not yet clear to me how these HTTP connections could be pooled, given the typical lifecycle of an HTTP 1 request.

Maybe experimenting with Keep-Alives or implementing HTTP/2 mu

[2018-03-19 22:04] buddhistpirate commented on #372
I agree that it does depend on the agent implementation, but perhaps that's okay?

It also seems that for a library that is responsible for tracing, that the overhead of establishing a new connection might be a good thing to optimize. That being said this is all done in a separate thread, so maybe it doesn't matter.

I'm torn on whether this is an issue with the client or the agent. At one level i

[2018-03-20 00:42] joffotron opened #373 "AWS integration fails to start with "conflicting" classname"
Hi, with the 0.12.0.beta2 gem, our rails app will not boot with the AWS integration enabled:

We get the following error:

[code]

In our code, we have

/app/app/services/raisebook_aws/kms.rb:
[code]

Which is in an entirely separate module.  Looks like an issue with how the constants are loaded in the ddtrace patcher?

[2018-03-20 04:23] delner commented on #373
I'm not sure yet why it's at all trying to load that class. My first suspicion, if I had to start somewhere, would be the Rails ActiveSupport autoload magic and perhaps order of load paths for constants. Would need a deeper investigation before we could be sure.

@joffotron Can you provide a very minimal Rails app or set of code samples that replicate the problem?

[2018-03-20 08:43] jfrancoist opened #374 "AWS `span.resource` does not give a meaningful insight on service page"
When using the current `:aws` instrumentation. We get the following resource

![image](https://user-images.githubusercontent.com/6594266/37643632-798c28ae-2c21-11e8-8ad1-63e8e35aa0ba.png)

I think it would make more sense to have the name of the AWS command listed here instead. Which would result finding out which command is performing poorly instead of having to go through each trace on the next

[2018-03-20 09:04] palazzem commented on #220
Hello @buddhistpirate ! actually this PR is scheduled to be merged for the next release. Probably we want to update it a bit just to be sure the behavior is completely isolated. Will keep you updated once the next release is out!

[2018-03-20 13:24] jamiehodge opened #375 "The sinatra tracer does not record the request id"
The rack tracer currently adds a request id tag (`X-Request-Id` header) to each span. It would be nice if the sinatra tracer did the same.

[2018-03-20 13:29] buddhistpirate commented on #220
@palazzem Awesome, thanks for the info.

[2018-03-20 13:49] jamiehodge opened #376 "The sinatra tracer does not record the remote host or port"
It would be nice to know the ip of the caller. Please add this info to each sinatra span.

[2018-03-20 15:16] delner commented on #374
From a quick 2 minute look, this seems reasonable and could address your issue.

May I suggest opening a pull request and showing the effect it has through a couple more screenshots? Would probably be the best means of having this expedited!

[2018-03-20 21:18] jfrancoist commented on #374
Hi David,

I took the opportunity to create a small PR and with some screenshots of
the resulting behaviour.

JF

On 20 March 2018 at 16:16, David Elner <notifications@github.com> wrote:

[2018-03-20 22:00] Jared-Prime opened #379 "Support gRPC"
As a user of gRPC services/clients and of Datadog APM, I would like to have the gem support a grpc plugin.

Proposed Implementation: #378

[2018-03-21 01:17] delner commented on #374
Awesome, thanks a lot. I'll take a look!

[2018-03-21 17:26] lattwood commented on #238
@delner anything to update?

[2018-03-21 21:23] delner commented on #238
@lattwood Not yet, other than it's still queued up on our roadmap. Will let you know what develops.

[2018-03-23 15:17] delner commented on #149
I think we could strike this line https://github.com/DataDog/dd-trace-rb/blob/master/lib/ddtrace/contrib/rails/patcher.rb#L45 then users could add `require 'ddtrace/contrib/rails/railtie'` to their `application.rb` file. Would want to make sure that things still load properly if we try that.

@ejholmes does that sound reasonable? Or do you have any other suggestions for implementation?

[2018-03-23 22:55] delner commented on #238
FWIW @senny abd @lattwood #383 should tag `sql.active_record` events with the correct connection information now. Still don't have support for tracking those different DB connections as different services yet, which is something we'll have to add.

[2018-03-28 02:36] joffotron commented on #373
@delner Update: I set up a clean Rails app with the offending code included, but so far haven't been able to reproduce :(

I'll keep digging!

[2018-03-28 14:46] delner commented on #373
Okay no problem, let me know what you find.

[2018-03-28 15:23] palazzem commented on #311
Closed via https://github.com/DataDog/dd-trace-rb/pull/334

[2018-03-28 15:23] #311 closed

[2018-04-09 02:05] KieranP opened #393 "Support for Delayed::Job tracking"
Similar to Sidekiq, Resque, and SuckerPunch, support for DelayedJob would be useful.

[2018-04-09 02:16] KieranP opened #394 "Support for custom attributes on traces"
NewRelic tracer has the ability to send misc attributes along with the trace, particularly for knowing which user triggered the trace.

[code]

Would be handy to be able to do something similar with Datadog so we can contact users affected in certain cases.

[2018-04-09 20:32] delner commented on #394
Thus far we do allow for tagging all traces with particular attributes:

[code]

Alternativately, in your own code, you can access the current span and add tags as you see fit. e.g. in a Rails controller:

[code]

[2018-04-10 05:08] KieranP commented on #394
@delner Perfect. Thank you. Would be good to have this documented on the Datadog Rails installation page for future reference for others.

[2018-04-10 15:00] delner commented on #394
No problem. We did just add a reference to `active_span` to our documentation in `0.12-dev` under "Manual Instrumentation" (although it isn't tagged as "custom attributes".)

Going to close this one since it seems like that'll work for you.

[2018-04-10 15:00] #394 closed

[2018-04-10 16:34] delner commented on #220
Hey @buddhistpirate @yahooguntu @webandtech we just merged #247, which should address this issue by implementing *partial flushing*, which is disabled by default.

To activate this, you need to set the following in your configuration:

[code]

Or if you wish to configure the behavior, you can set the following flags:

[code]

Note there is now a [hard cap on the number of spans in a trace, set to

[2018-04-10 16:34] #220 closed

[2018-04-10 17:33] undergroundwebdesigns opened #398 "Sidekiq with custom service_name groups traces by model name instead of job class."
If I configure a custom `service_name` for my sidekiq service, then when I click on the service to view a breakdown of it's activity, instead of listing traces by job class Datadog starts listing traces grouped by ActiveRecord model. To be honest, I'm not sure how or where this model data is coming from, and it definitely seems like a bug. Removing the custom `service_name` reverts back to the exp

[2018-04-10 17:39] delner commented on #398
Can you give me more details of your setup?

 - ddtrace version
 - Ruby version
 - Sidekiq version
 - Rails version
 - Any configuration you have for ddtrace (initializers)
 - Screenshots of the behavior you think is problematic

[2018-04-10 17:43] delner commented on #398
If you are using `0.12-dev` or any of the `0.12.0.x` betas, you might be seeing a new ActiveRecord instantiation tracing feature we added, which adds spans for the instantiation events when ActiveRecord converts database results to Ruby objects (they're given resource names that are class names of the objects instantiated, and are assigned to the parent service which they belong.)

[2018-04-10 19:33] undergroundwebdesigns commented on #398
@delner I am using `0.12-dev`, so that likely explains it. Are these objects meant to change the behaviour of the Sidekiq service view as I described? The behaviour seems to be strangely intermittent, after further testing I'm not sure whether it has to do with setting a custom `service_name` for sidekiq or not.

I'm willing to chalk it up to using a pre-release version of the gem, mostly just pro

[2018-04-10 20:51] delner commented on #398
@undergroundwebdesigns I'd like to make sure this isn't a bug since I don't expect the behavior will change when `0.12.0` is released.

In theory, instantiation spans shouldn't change what you're seeing in the service view, since they should always be children to other Sidekiq job spans, and thus never show up as a resource under the service view.

In practice, this could happen if you are running

[2018-04-11 13:57] delner commented on #319
Closing this given the lack of activity. Please feel free to respond here if you'd like to revisit this issue.

[2018-04-11 13:57] #319 closed

[2018-04-12 15:35] Jared-Prime commented on #379
@delner I'm going to pull the higher-level feedback and considerations into this issue. I have many of the changes you've requested implemented, though not yet pushed up. I'm thinking of opening a new PR with a simpler, more complete integration and closing #378. My intention is to get all the items below completed by end of this week, early next week at the latest. I'll be testing some of our new

[2018-04-13 16:48] Jared-Prime commented on #379
demo app + performance benchmark: https://github.com/Jared-Prime/grpc-demo/tree/datadog

[2018-04-13 20:37] delner commented on #379
@Jared-Prime It's looking pretty good, but I don't think the use of `Pin` is quite right.

You have this to set the pin:

[code]

And this to get the pin back:

[code]

This effectively globalizes the configuration settings by attaching them to that constant, meaning if you do gRPC calls to two different services, you'd end up seeing them traced as one service (which is not ideal.)

I suspect you

[2018-04-16 13:18] Jared-Prime commented on #379
This is tricky. In gRPC Ruby, the developer retrieves client classes using the `rpc_sub_class` method on the service itself; specific configurations pass via the initialization method. [Here's an example in the demo app](https://github.com/Jared-Prime/grpc-demo/blob/master/src/ruby/.pryrc#L12).

The gRPC Go package for DataDog supplying the intereceptor when setting up the client.

[code]

In Ruby

[2018-04-16 14:44] delner commented on #379
Ah, if you can initialize and assign a separate interceptor instance per service, that could work well.

The only question left would be how are users expected to configure this behavior? If at all possible we'd like to provide a default `Datadog.configure { |c| c.use :grpc }` behavior to get quick out-of-the-box functionality for a single service gRPC setup. For the multiple service scenario, it

[2018-04-17 14:33] delner commented on #379
@Jared-Prime Awesome, I think that looks good! Should allow for the multiple service scenario.

[2018-04-17 20:42] delner commented on #238
Hey @senny and @lattwood , #404 is currently in development and should resolve this. Feel free to check it out!

[2018-04-18 19:28] delner commented on #398
Alright, is it okay if we close this for now then, @undergroundwebdesigns ?

[2018-04-19 13:09] toofishes commented on #372
Our agent logs are full of things like this; we have a high-volume transaction environment on our machines running sidekiq so we are running into connection limits it seems. Maybe there is an issue on the trace agent side where it doesn't recycle old connections fast enough?

[code]

[2018-04-20 18:10] undergroundwebdesigns commented on #398
Yep, go ahead.

[2018-04-20 18:27] delner commented on #398
Okay, thanks.

[2018-04-20 18:27] #398 closed

[2018-04-24 03:29] whithajess opened #406 "Distributed Tracing Sampling - Weighting Needs Work"
I noticed when looking at Traces the other day that some will be lucky enough to have Full Tracing all the way through a request (microservices) and others have half or none.

It looks like because  tracing is only a sample of a request. While one service may decide to sample a particular trace, another service (for the same request) may not.

Here is an example with 3/5:

![screen shot 2018-04-24

[2018-04-24 03:51] whithajess commented on #406
I think you could do something like:

    If sampling?
      send header 'x-datadog-sample-rate: 1'
      if :distributed_tracing?
         if header has x-datadog-sample-rate
         set sample rate = header

[2018-04-24 03:59] whithajess commented on #406
Ignore this it may already exist 🤦‍♂️

[2018-04-24 03:59] #406 closed

[2018-04-24 06:13] delner commented on #406
Yeah, if distributed tracing is sending headers as it should, then it forwards the sampling priority too, which gets inherited by the services further down the chain.

[2018-04-24 06:13] #373 closed

[2018-04-25 15:36] undergroundwebdesigns opened #407 "Setting a custom service name for net/http doesn't work."
From my experience and from reading the code, it looks like the service name for the net/http integration is hard-coded to "net/http", which conflicts with the [docs](http://gems.datadoghq.com/trace/docs/#Net_HTTP) that say the default service name is "http" and also that it's configurable with the `service_name` option.

[2018-04-25 17:04] delner commented on #407
Can you provide a code sample that replicates the problem? What version of the library are you using?

[2018-04-25 17:16] delner commented on #393
Hey @KieranP, this is scheduled in our pipeline. I'll let you know when we have something ready for this.

[2018-05-07 10:03] Mathiou04 opened #413 "Huge increase in rps after gem update"
Hi there,

after upgrading our gem from 0.7.1 to 0.11.4 on one of our services we've seen a huge increase in the rps metrics (rails controller, sidekiq and database), ranging between +50% to +100%.
Here is an example graph of what happened since the deployment:
<img width="417" alt="capture d ecran 2018-05-07 a 11 56 35" src="https://user-images.githubusercontent.com/14098361/39696527-47295b64-51e

[2018-05-07 10:07] palazzem commented on #413
Hello @Mathiou04! we did a lot of changes between 0.7.x and 0.11.x, probably increasing the visibility and so the size of the payload. These changes should not increase the number of request, so would be great if you can provide us more details about your stack. Can you share your stack and Datadog Tracer configuration?

Also is it happening only on one service or all your services are impacted?

[2018-05-07 10:19] Mathiou04 commented on #413
Hi @palazzem, thanks for the quick reply. I added a few more details above.
Concerning the stack, we are using rails 4.2.4 with redis/postgres/sidekiq 4.2.6.

Here is the current datadog config:
[code]

Here is what we had before:
[code]

I didn't update any other service yet. I will do it today and I will let you know what happens.

[2018-05-08 13:47] delner commented on #413
Is it possible because the number of traced requests went up, so did latency? Such that it is settling around a more accurate number?

[2018-05-08 13:56] Mathiou04 commented on #413
@delner That's what I thought first but when you think about it, I am not sure it makes sense: even if you have twice more request, you're still looking at the slowest 5% when you look at the 95 percentile. Or maybe it would mean that the gem was not discarding requests randomly, but the slower it was the more change it would get to be discarded.

@palazzem I did upgrade the other service that was

[2018-05-08 14:01] delner commented on #413
I'm not 100% about this, but its possible that traces weren't being sampled in the same proportions as they are now.

What version of the agent are you running?

[2018-05-08 15:24] bessey opened #415 "Support for cross thread span tracing (e.g. via concurrent-ruby)"
We have a few places in our application with multiple independent slow ActiveRecord queries that we use concurrent-ruby's [Concurrent::Future](http://ruby-concurrency.github.io/concurrent-ruby/Concurrent/Future.html) class to parallelize, then block on the combined results. Here's some pseudo-code

[code]

To my surprise, the traces of the queries executed in the Future don't appear in DD. I'm ass

[2018-05-08 15:36] delner commented on #415
I think you're probably right: trace context is derived from thread local variable, meaning executions on other threads won't inherit trace context by default. There might be a way to relate these spans to the parent thread though, by setting the parent ID on the child thread traces to the parent thread's span ID.

Those child threads will need to know what the parent thread is, so it can derive t

[2018-05-08 15:46] bessey commented on #415
Great, yes, I figured the solution might look something like
[code]
I just don't know what the _real_ methods are

[2018-05-08 17:10] delner commented on #415
If `Concurrent::Future.execute` works like you showed above, then maybe something like this will work:

[code]

[2018-05-09 09:48] gottfrois opened #418 "Adds delay to Sidekiq metrics"
Hey guys,

I've been trying to add a `delay` metric to Sidekiq which would represent the time spent for a job waiting in queue.
I've forked the gem and added the following code:

![image](https://user-images.githubusercontent.com/943784/39807762-6e5d04e8-537d-11e8-8453-d1d7545e2292.png)

But I actually don't see those metrics in the metric explorer on Datadog nor the existing one like `sidekiq.job

[2018-05-09 10:33] frsantos opened #419 "NoMethodError: undefined method `status' for #<Array:0x000000116d9758>"
After updating to 0.12.0, I get this exception anytime a user logs in with a wrong password.

[code]
The error is in the line
[code]
When I inspect the `response` object, I get this array (not a `Response` object):
`[200, {"X-Frame-Options"=>"SAMEORIGIN", "X-XSS-Protection"=>"1; mode=block", "X-Content-Type-Options"=>"nosniff", "Content-Type"=>"text/html; charset=utf-8"}, #<ActionDispatch::Respons

[2018-05-09 12:45] Mathiou04 commented on #413
@delner Here is an extract from version-manifest.json:
[code]

@palazzem Not seeing the same increase on the other service. Maybe worth mentionning that the service seeing the increase also has the gem dogstatsd-ruby installed?

It is very clear that the change was only in the metrics, not in the load. Here is a comparison between the datadog rps graph and the aws cpu utilization graph on the exac

[2018-05-09 14:09] delner commented on #418
@gottfrois Really like the idea here! Tags work a little differently than metrics; what you added above should appear as tags on each of the Sidekiq traces your application is producing, if you highlight the `sidekiq.job` span. I don't believe these values will be aggregated or displayed in the Metrics Explorer.

[2018-05-09 14:18] delner commented on #419
@frsantos Thanks for the report. Does your application implement any middleware that might be changing the object passed down the chain? That `Array` looks like a Rack middleware response; such a thing would be unusual to appear as the `response` within an `ActionController`.

It's possible this is related to [this commit](https://github.com/DataDog/dd-trace-rb/commit/2b37cf18f2e1773f7726eafda09a4

[2018-05-09 15:10] frsantos commented on #419
@delner No, we don't implement any middleware .

The only difference is the [Devise::FailureApp](https://github.com/plataformatec/devise/blob/master/lib/devise/failure_app.rb) (that inherits from `ActionController::Metal`) that `Devise` uses internally. Maybe that `ActionController::Metal` is the one changing the response.

[2018-05-09 16:18] delner commented on #419
We're prepending the patch to `ActionController::Metal`. I'm willing to bet that it has something to do with Devise implementing that directly, without implementing the module that converts the Rack response to the equivalent Rails object.

I'll dive deeper into this.

[2018-05-09 16:38] gottfrois commented on #418
@delner oh ok i got this wrong!
So should `delay` be a tag or an actual metric?

[2018-05-09 18:10] delner commented on #419
@frsantos If you can provide a minimal code sample that replicates this problem, this will be much faster to fix.

[2018-05-09 19:44] delner commented on #419
Okay, so this might be a "bug" with Devise.

They're doing [an override in their `FailureApp`](https://github.com/plataformatec/devise/blob/master/lib/devise/failure_app.rb#L75) to change the content of `ActionController::Metal#response` from an `ActionDispatch::Response` object into an `Array`, which breaks tracing because it expects an `ActionDispatch::Response` object.

From what I can tell, do

[2018-05-09 22:06] delner commented on #419
@frsantos Pull request here... want to check it out? Let me know if it works for you? https://github.com/DataDog/dd-trace-rb/pull/420

[2018-05-10 08:12] frsantos commented on #419
@delner Yes, that fixes it, thanks. :1st_place_medal:

[2018-05-10 12:43] rohitjangid opened #422 "Support for RestClient"
It would be useful to have RestClient support.

For Reference: https://github.com/rest-client/rest-client

[2018-05-10 13:41] delner commented on #419
@frsantos Glad to hear! We'll roll this into our next bugfix release.

[2018-05-10 13:55] delner commented on #422
Thanks for the suggestion, @rohitjangid ! We'll take a look at this, and perhaps add it to our backlog.

[2018-05-11 08:55] gottfrois commented on #418
@delner you were right, i see the new `delay` field in the span trace directly. Any idea how I can actually create a real metric out of it? Also, how would it integrate within the APM dashboards?

[2018-05-11 14:33] Mathiou04 commented on #413
@palazzem Update on the other service, not seeing the huge increase in rps, but still seeing a change in the latency (this time a decrease) :
<img width="396" alt="capture d ecran 2018-05-11 a 16 30 02" src="https://user-images.githubusercontent.com/14098361/39929625-ce7a06ac-5538-11e8-9ee6-b58fc059d62b.png">

[2018-05-11 14:40] delner commented on #379
This has been merged to `0.13-dev` and was released with `0.13.0.beta1`. Thanks @Jared-Prime !

[2018-05-11 14:40] #379 closed

[2018-05-11 15:39] gottfrois commented on #418
@delner thanks a log for the code snippet. I do believe it works but i cannot confirm because i think i reached the limit of the number of custom metrics i can send on datadog :(

What's your input on custom metrics usage here? For example, the sidekiq trace uses a lot of custom metrics quotas:

![image](https://user-images.githubusercontent.com/943784/39933050-2a1d768e-5542-11e8-824b-0a7511c8d825

[2018-05-11 15:41] gottfrois commented on #418
Nevertheless i think i could submit a PR here to add those new metrics:

- `delay`
- `started_at`
- `finished_at`
- `enqueued_at`

![image](https://user-images.githubusercontent.com/943784/39933189-8978a45a-5542-11e8-948a-f0436c162e6c.png)

What do you think?

[2018-05-11 16:03] delner commented on #418
Regarding custom metrics, admittedly, I'm not sure I can give you a good answer myself. I think the best I can offer right now is checking out our documentation on [custom metrics](https://docs.datadoghq.com/getting_started/custom_metrics/), which hopefully has the details you need.

As for adding those datapoints to the Sidekiq tracing code, a PR that adds those basic values as tags (as opposed t

[2018-05-23 11:51] senny opened #431 "Large memory increase after upgrading to 0.12.0"
We have just upgraded to `0.12.0`. As we are using `c.use :rails` this would enable allocation tracing for our deployment. Shortly after deploying to production we have observed a large increase in the memory footprint of our processes. Some samples from our monitoring:

![screen shot 2018-05-23 at 13 38 16](https://user-images.githubusercontent.com/5402/40422150-ab5b304c-5e8e-11e8-9884-b90932968b

[2018-05-23 14:15] delner commented on #431
@senny Thanks for the report! Instantiation tracing is probably the biggest change to Rails in the most recent release, so I think that's a reasonably good place to begin our investigation into this.

If we were to open a pull request that adds a flag to optionally enable/disable instantiation tracing for Rails, would you be able to use it to verify whether in fact it is isolated to that feature?

[2018-05-23 14:47] senny commented on #431
I think I would be open to deploy a version with this disabled.

On the note of adding flags, it would be nice to have one to override the default `orm_service_name` of `active_record` as well 😅.

[2018-05-23 15:31] delner commented on #431
@senny Oh, right, I don't think you can do that from `:rails` directly. You can override it though, by adding a `use :active_record` and adding the `orm_service_name` option there. You typically shouldn't see it fallback to `active_record` unless the instantiation span has no parent (usually it'll inherit and append itself to the parent service.)

[2018-05-23 16:36] Mathiou04 commented on #413
![capture d ecran 2018-05-23 a 18 31 14](https://user-images.githubusercontent.com/14098361/40438113-8033a254-5eb7-11e8-9ab9-6b0f7aa27f03.png)

Just noticed we had the same issue with redis monitoring. The new graph makes a lot more sense than the first, but I am still interested in an explanation.

It looks like some commands magically appeared after the update:
![capture d ecran 2018-05-23 a 18

[2018-05-23 16:42] delner commented on #431
We've seen this most commonly come from Rake tasks, scripts, and asynchronous tasks. Typically we advise that these "entry points" be identified and wrapped with some kind of meaningful parent span. We cover several common examples of this with Resque, Sidekiq, Racecar, and now in `0.13-dev`, Rake as well.

[2018-05-24 03:13] fruwe commented on #419
Fixed it for me as well

[2018-05-24 12:21] senny commented on #431
Right, we do have a couple threads that run general application loops. I'll look into wrapping them with a span.

[2018-05-24 13:40] pawelchcki commented on #407
@undergroundwebdesigns Thank you for reporting this!

PR https://github.com/DataDog/dd-trace-rb/pull/430 addresses both default service name in docs, and ability to override it. It will be included in 0.12.1 release.

[2018-05-25 15:06] pawelchcki commented on #431
Thanks again for reporting it @senny

I've created a branch https://github.com/DataDog/dd-trace-rb/pull/435. Where one can control `active_record` instrumentation.
e.g.

[code]
will disable instantiation tracing.
and
[code]
will disable sql tracing.

[2018-05-25 15:08] senny commented on #431
@pawelchcki thanks, I'll report back when I was able to give it a go in production. Just to confirm. I can use `c.rails` and `c.use :active_record, trace_events: [:sql]` and it does not add the instrumentation twice?

[2018-05-25 15:21] pawelchcki commented on #431
@senny no it will only run the code once.

[2018-05-30 15:15] delner commented on #251
@webandtech I've been told this has been moved to our backlog. Will let you know if/when that changes.

[2018-05-31 17:46] delner commented on #413
@Mathiou04 I checked with our team about how this number might have been affected. I think the most likely explanation for this is that we're tracing a lot more things in 0.11.x vs 0.7.x, and the quantity of traces can greatly affect this RPS metric you're seeing.

Are you seeing any other strong indicators of performance problems? (Other than RPS metrics?) The CPU graph you linked above looks con

[2018-05-31 17:51] delner commented on #419
This has been merged into `master`, and will roll when `0.12.1` is released. I'll close this issue when that happens.

[2018-05-31 18:10] delner commented on #431
@senny Did this help your problem at all?

[2018-06-01 07:03] Mathiou04 commented on #413
@delner Thanks for your feedback.
Actually, there is no performance degradation on our side as you can see in the second graph I posted:
![39815219-96da718e-5397-11e8-9112-97631d8e1e87](https://user-images.githubusercontent.com/14098361/40825576-40d60274-6578-11e8-9551-9730d029f6cf.png)
This shows a metric (database CPU usage) extracted directly from the database (not from datadog), and the shape

[2018-06-01 15:19] delner commented on #413
@Mathiou04 Okay, glad you're not experiencing any kind of performance issues. Off the top of my head, I can't really explain all the differences in traces between 0.7.x and 0.11.x (I've only been working on the project since 0.10.x), but that it's the most likely explanation for the big jump.

What I can offer though is that the agent is responsible for calculating this RPS metric, and it does so

[2018-06-01 15:20] delner commented on #413
Apologies if this isn't as thorough an explanation that you were hoping for, but is there anything else I can offer for this issue?

[2018-06-01 15:36] Mathiou04 commented on #413
@delner Yes, I understand there was an increase of traces received for this particular service, I just wanted to ensure that the new version of the gem give metrics closer to reality than the old one and is not sending duplicated traces or something like that.
I hope it was just a bugfix to ensure all DB calls are traced and that it will stay stable in the future :)
Thanks for having a look anyway

[2018-06-01 17:05] delner commented on #413
@Mathiou04 Unfortunately I can't really provide a more thorough explanation for what you saw in your application, but I can say we have no reason to believe the RPS numbers aren't accurate now.

Is it okay if I close this one?

[2018-06-01 17:53] Mathiou04 commented on #413
Yes, it is fine with me.

[2018-06-04 18:46] delner commented on #407
Closing this, since it will be released as a part of `0.12.1`. Thanks again for your contribution!

[2018-06-04 18:46] #407 closed

[2018-06-04 18:48] delner commented on #419
Release `0.12.1` should roll next week, and this fix along with it. Going to close this now. Thanks for your contribution!

[2018-06-04 18:48] #419 closed

[2018-06-05 13:11] pawelchcki commented on #431
@senny Sorry for that - we're actively working on that branch to merge the changes to master. I won't do any more history rewrites so if you still want to test this branch then it should be safe now to use it.

Or you can wait for it to land in master which should happen in near future.

https://github.com/DataDog/dd-trace-rb/pull/435

[2018-06-06 07:14] jvalanen opened #445 "Undefined method `span_id' for nil:NilClass with long requests"
In our application we have very complicated and long listings with tons of html elements. It can take even 300+ seconds for the view to render.

Shorter listings render fine but for those longer ones we receive `status=500 error='ActionView::Template::Error: undefined method 'span_id' for nil:NilClass'`:

This error happens with ddtrace versions `>= 0.12.0`, downgrading to `0.11.4` helped for us.

[2018-06-06 13:37] senny commented on #431
@delner I would have liked to rely on `master` instead of a branch. If it won't be merged without my confirmation I can maybe schedule something later this week or early next week.

I can't give you much details. We are running on Heroku. Only thing we noticed is that our dynos (processes) would hit memory limits soon after the deployments (as shared in the charts). I put our configuration in [thi

[2018-06-06 15:43] delner commented on #445
@jvalanen Thanks for the report!

If I'm interpreting the issue correctly, it looks like the trace isn't being started, thus when it tries to get the `span_id` of the current trace, it turns up as a `NoMethodError`.

In the past, this sort of thing has happened when another gem conflicts with our Rails injection. I see that you have `wicked_pdf` injected, which appears to be [overwriting the rende

[2018-06-06 16:02] delner commented on #431
Okay. Probably doesn't have anything to do with this but the following options for Rails are deprecated and have no effect:

[code]

[2018-06-06 16:12] senny commented on #431
Thanks 😅. Will remove them.

[2018-06-06 17:09] delner commented on #445
Also possibly related #302 which was released in 0.11.0.

[2018-06-06 19:10] delner commented on #445
You also mentioned that things were better on 0.11.4 vs 0.12.0. Looking at the [diff between the tags](https://github.com/DataDog/dd-trace-rb/compare/v0.11.4...v0.12.0#diff-121490b4a69f6eb8233f72688752a464L133), there were no changes to our partial render tracing. When you upgraded/downgraded the gem, did you make any other changes in conjunction with that as well?

[2018-06-07 15:44] delner commented on #374
This should be fixed in #377 and will roll with `0.12.1`, closing this issue.

[2018-06-07 15:44] #374 closed

[2018-06-07 20:13] delner commented on #445
@jvalanen I opened #447 which should help address this bug. Would you be able to try it to confirm if it works for you?

[2018-06-08 10:58] jvalanen commented on #445
Hey @delner, thanks for the super quick response and inspecting this issue!

I didn't have time to dive into this yesterday but as my colleague @onnimonni had already tested, it seems to fix our that specific issue! Good job!

I didn't follow completely how you traced this down but it makes sense that we hit some hard limit in rendering and it crashed because of that.

I suppose this was enough to

[2018-06-08 20:57] delner commented on #445
@jvalanen Glad to hear it works for you!

Logs would be helpful, if you can provide them. Somehow it seemed something was off with your trace context, but I wasn't able to explain why despite looking quite deeply into it. That PR instead simply sidestepped the issue, by refactoring the code which avoids the direct consequences of that.

This will probably roll with our 0.12.1 release currently sch

[2018-06-11 13:56] #445 closed

[2018-06-13 09:56] NobodysNightmare opened #457 "various integrations: Fail if incompatible"
I a currently setting up datadog for one of our applications. While configuring graphql I was irritated, that I got no metrics.

I checked the [source code](https://github.com/DataDog/dd-trace-rb/blob/master/lib/ddtrace/contrib/graphql/patcher.rb#L21) and found this:

[code]

### Current behavior

What happens here is that the integration will silently not activate if there is no graphql or the ve

[2018-06-13 14:35] HolyMagikarp opened #459 "Manually setting span metadata"
Is there a way to set the metadata of a span with this gem?  I want to include some local variables and other domain information in the metadata when the span captures an error.  If I use the http api to create the span, I can pass in a meta argument that allows me to set the metadata for the span.  I went through the gem documentation, but there does not seem to be a way to set the metadata for a

[2018-06-13 15:41] argami opened #461 "Excon from version 0.58 to make it work with fog-aws"
Hey Guys,

I have seen the integration with excon 0.62  in the upcoming 0.13 version (0.13-dev) i'm very interested to use this, because of fog-aws (especifically fog-core).

But fog-core only allows version 0.58. I download the project and test it with version 0.58 and all the tests works fine.

Would you think is agood idea to PR this? or there is any reason to use the 0.62 version that might no

[2018-06-13 15:46] delner commented on #457
The general doctrine to this point had been "don't break things", and to this end, the tracer has avoided raising exceptions except when absolutely necessary. I can see how this can fall short though, particularly if it doesn't help you debug your tracing setup.

Perhaps it'd make sense to log some kind of warning to logs. We do have a `debug` mode that prints out all kinds of additional informati

[2018-06-13 15:50] delner commented on #459
@HolyMagikarp Did you see the `#set_tag` function as a part of [the documentation on manual instrumentation](https://github.com/DataDog/dd-trace-rb/blob/master/docs/GettingStarted.md#manual-instrumentation)? That should allow you to add specific key/value pairs onto a span. If that isn't what you're looking for, could you explain how that might be different?

[2018-06-13 16:04] delner commented on #461
The 0.62 version we have listed in the documentation is the lower limit to which we'd officially provide support (e.g. bug fixes or additional features.)

However, I think in your case concerning Excon, the compatibility check in the code [doesn't enforce a version](https://github.com/DataDog/dd-trace-rb/blob/0.13-dev/lib/ddtrace/contrib/excon/patcher.rb#L41), meaning you should be able to run the

[2018-06-13 16:22] argami commented on #461
Thanks for your quick answer i will do some tests with the 0.58 and review if that everything works fine (i only try with the tests).

If i find anything i will send a PR

Once more thanks!!

[2018-06-13 16:22] #461 closed

[2018-06-13 20:10] dorner commented on #459
@delner the issue is that adding tags essentially creates a new metric which we get charged for. :) In this case we want to add metadata which we can view but which doesn't need to be searchable, e.g. values of local variables.

[2018-06-13 20:44] delner commented on #459
@dorner Just asked about this, and from what I was told `set_tag` does not actually create any kind of custom metric, so it shouldn't be billed. If you'd like some guarantee or clarification on this, I'd recommend checking with our support team who should have certain answers for you regarding billing.

See https://docs.datadoghq.com/help/ for some options to get in touch with them.

[2018-06-14 11:55] NobodysNightmare commented on #457
I think logging would already greatly help here.

[2018-06-15 17:11] dorner commented on #459
Ah, so tags work differently between metrics and APM? Good to know!

[2018-06-15 17:55] delner commented on #459
@HolyMagikarp Does this work for you?

[2018-06-15 20:13] delner commented on #431
We released some improvements to memory usage in #446 as a part of the 0.12.1 release. Feel free to try that out and see if that helps. Going to close this issue for now, however, if memory is still a problem, we'll be happy to revisit it and discuss further steps.

[2018-06-15 20:37] delner commented on #375
@jamiehodge We're planning on releasing `0.13.0` on Wednesday June 20th, which should include support for this via #427. The request ID should appear as a tag on the Sinatra span by default, but you could further configure which headers you'd like to see via the following:

[code]

Will that work for you?

[2018-06-18 04:16] fenak commented on #459
Got a question on this one as well. I couldn't find a way to add additional metadata for the traces for Rails.
Unless I manually instrument it, I can't dynamically add tags, only global at configuration time.
Am I missing something?

[2018-06-18 06:48] delner commented on #459
@fenak You can add tags to traces by referencing the active span with `Datadog.tracer.active_span`. See #394 for more details.

[2018-06-18 11:21] NobodysNightmare opened #466 "Resque workers start hanging with activated ddtrace"
We are currently in the process of rolling out datadog over our applications. However, we encountered a quite severe issue which we believe we tracked down to the `ddtrace` gem.

### Observed behaviour

Resque workers will eventually end in a state where they are deadlocked. This means the worker is alive, but the processing of the current job never finishes.
Subjectively this happens faster for w

[2018-06-18 18:01] delner commented on #466
@NobodysNightmare Thanks for the report... I'm bummed to hear this is happening. I'll take a look into this, see if we can figure out what's going on. Also the detail you provided is really helpful! We'll follow up here with more questions as we dig in deeper.

[2018-06-18 18:10] delner commented on #466
Could you tell me more about what these jobs are roughly doing? How long do they run? What integrations are they expected to trace? If you were able to estimate how many spans they generate, what would that number be?

Anything that can help us replicate the bug will make this immensely easier and quicker to fix.

[2018-06-19 07:04] NobodysNightmare commented on #466
It really is a mixed bag of jobs that blocks. For example calculation jobs or mail delivery jobs. All are interacting with a SQL database in one way or another.

The expected integrations for those jobs:
* resque (it's resque jobs)
* mysql
* http for some jobs
* redis might be possible for some jobs... but rather unlikely to affect many jobs

### Span count
For one job class I clicked through the

[2018-06-19 08:10] frsantos commented on #466
@NobodysNightmare Maybe [rbspy](https://github.com/rbspy/rbspy) can help you identify what your workers are doing when they hang.

[2018-06-19 08:15] marcusmalmberg commented on #466
We've also experienced problems with resque. Web requests and spans worked as expected.

We tried enabling this integration when installing the 0.12 beta gem. Since it wasn't something we had enabled before I just disabled it and moved on until I could take another look at it, as it was only a "nice to have" feature then.

Jobs that normally takes a couple of ms to complete took forever to finish

[2018-06-19 09:20] NobodysNightmare commented on #466
@delner So far it looks like `0.11.4` is running fine. I'll update you if I see it fail.

[2018-06-19 13:55] NobodysNightmare commented on #466
We were still able to reproduce the issue with

[code]

and so far it did not occur again using
[code]

I would give it a few more hours to validate the error is gone and then probably try re-enabling other integrations again. I am still not sure whether this is about a specific integration or more about having multiple of them active at the same time.

We did not yet test another application, hop

[2018-06-19 13:58] pawelchcki commented on #466
Thanks for such detailed report and for continued debugging @NobodysNightmare!
I've been working on reproducing this issue locally, but so far my `resque` workers refuse to hang.

If you would be able to provide us with a backtrace of locked thread in a hung worker that would be of great help.

I think this gem could be of some assistance - https://github.com/frsyuki/sigdump - it traps a signal, a

[2018-06-19 20:19] pdaire commented on #251
we'd love these feature as well...
Job duration per queue and class would be very useful for monitors for instance because the variety of jobs nature creates very different jobs duration.

[2018-06-20 06:38] w32-blaster opened #468 "Support for memory allocation metrics and statistics"
In some cases it would be useful to see memory related metrics. It could help to find endpoints which are having higher memory footprint.

[2018-06-20 08:17] jamiehodge commented on #415
I use something like this ATM:
[code]

[2018-06-20 09:30] senny commented on #431
I just deployed 0.12.1 to our staging system. While the difference is not of the same scale, it still looks like there is some significantly larger memory consumption than pre 0.12:

![screen_shot_2018-06-20_at_11_26_50](https://user-images.githubusercontent.com/5402/41650008-4c28c990-747d-11e8-9ac6-bc094554653c.png)

Our staging system has barely any traffic. I'm hesitant to put this into product

[2018-06-20 14:23] NobodysNightmare commented on #466
To give some update for today:

* I tried reproducing the problem locally and of course it only happens in production
* deploying `sigdump` did not help, I wasn't able to obtain a dump once a worker was locked up (which is probably already a bad sign)
    * however, I will confirm with our operations engineers that we had no other problem, such as missing write permissions. since `signdump` rescue

[2018-06-20 15:02] pawelchcki commented on #466
Thanks for checking it @NobodysNightmare! If `sigdump` is not working then that is a useful info in itself. I'll dig into what kind of locks we use beside GVL when running a worker.

[2018-06-20 15:13] delner commented on #431
@senny Prior to where the blue arrow is pointing, is that 0.11.4?

We did add quite a bit of new instrumentation in 0.12.0, so I think some increase of memory is to be expected, but I'm always for doing whatever we can to minimize the footprint. (We have a couple of additional minor optimizations to add, but they probably won't make a significant impact on what you're seeing above.)

I think I'm g

[2018-06-20 15:35] delner commented on #468
Thanks for the suggestion @w32-blaster . We currently have an issue #312 open that tracks these memory stats. Can we add any additional considerations there and close this one?

[2018-06-20 18:03] delner commented on #375
This should be addressed with our 0.13.0 release. Closing this.

[2018-06-20 18:03] #375 closed

[2018-06-20 18:28] w32-blaster commented on #468
It's similar but that request is specific for garbage collection. Other tools support complete memory stats for requests, so you can see which are the more problematic requests/jobs in the app

[2018-06-21 13:55] senny commented on #431
Before the marker is `0.11.3`.

But isn't this a bit worrying? The memory increase after just upgrading to `0.12.1` was 23%. That's pretty crazy. We also did not change our configuration meaning that we have not enabled more integrations (except Active Record instantiation tracking that adds ontop of an extension we already have enabled).

In the deployments that you are running, do you not observ

[2018-06-21 13:57] senny commented on #431
One more question, with `0.12.1` it is not possible just to disable AR instantiation tracking, correct?

[2018-06-21 18:19] delner commented on #431
@senny It is a bit worrying, and we are treating this seriously. My comment was only to suggest that once any memory issues we find are addressed, there still might be some increase between versions if that increase is found to be necessary to support a new feature. It's just important to make sure any such increase is actually reasonable, and not inadvertent. And thus far, there still haven't bee

[2018-06-22 06:47] senny commented on #431
Thanks for the in depth reply. We are using the `dalli` extension as well as `redis`. The application does make use of `Rails.cache` but the caches are nothing huge. Also, redis is mainly backing Sidekiq and in another case some transient data that we keep for roughly 2 hours. Redis receives a lot of traffic while memcache is pretty low profile.

In terms of cache size, Memcache is only around 100

[2018-06-22 15:05] delner commented on #431
If I'm remembering correctly, I think the suspected caching issues largely stemmed from Rails caching, not any direct use of Redis or Dalli (that I'm aware of.)

You mentioned this is even an issue in your staging environment: if we issued another PR, with some more potential optimizations (including those that might address caching), would you be able to test it there and give us some feedback as

[2018-06-22 15:10] senny commented on #431
Yes.

Yes.

The first graphs in the issue description were from production. The memory increase there was huge (Note that this was 0.12.0 though). I have only tested `0.12.1` in staging. What's noteworthy is that the increase in memory kicks in relatively fast. It's as if the process baseline was just increased by ~23%. It's hard to imagine that this stems from any kind of instrumentation volume (

[2018-06-22 15:37] delner commented on #431
Yeah, this is what bugs me a bit, too. It's unclear to me right now what part of tracer would correlate more with so baseline than usage. Most of what allocates memory is based off application activity: when integration functions run and it creates spans to match. At this point I can't think of anything that would collect large quantities of objects at startup. Some dependencies have been updated

[2018-06-22 15:45] senny commented on #431
@delner I'm happy to provide feedback whenever possible. Thanks for helping me out on this. Your work is very much appreciated.

[2018-06-25 11:44] NobodysNightmare commented on #466
Hey there,

we did some more experimental rollouts. While we could not see the bug on every project we deployed, we could reproduce it (in production) on the following environments:

[code]
[code]

[2018-06-26 12:31] pawelchcki commented on #466
@NobodysNightmare thanks for continuing working on this!

While I still wasn't able to reliably cause worker to hang locally. After looking at the code closely I have a strong suspicion that this could be caused directly or indirectly by our special trace writer we only use in Resque - and this problem seems to only show up in Resque integration.

Its the only special component (`SyncWriter`) in R

[2018-06-26 12:44] NobodysNightmare commented on #466
@pawelchcki I am going to include that branch in our Gemfile and see if the error can still be reproduced.

Please make sure not to remove the branch and the tip commit without letting us know, since our `Gemfile` (and therefore bundler) will now depend on that one temporarily.

[2018-06-26 12:59] pawelchcki commented on #466
Will do @NobodysNightmare.

[2018-06-26 14:00] NobodysNightmare commented on #466
I have bad news:

[code]

Whatever the cause is, apparently we did not yet find it. Thank you very much for your continued support.

[2018-06-26 14:08] NobodysNightmare commented on #466
We now obtained a dump using `gdb`. I really hope that you can make more use of it than I can. The dump was obtained from the stale child worker process.

[code]

[2018-06-26 14:37] pawelchcki commented on #466
@NobodysNightmare Thanks!
Looks like the backtrace of the second thread confirms lingering suspicion I had that the workers might block on resolving DNS hostname.

[code]

Its in locked state as per line 3 (pthread_mutex_lock) and its caused by calling `gethostbyname2_r` which in turn was executed by Ruby trying to resolve the hostname.

In general that lock probably happens quite rarely but if ev

[2018-06-26 14:51] NobodysNightmare commented on #466
This would explain why we do not see it in one of our apps. There we
configure the agent using its ip. So this is very possible.

I will confirm that tomorrow.

Pawel Chojnacki <notifications@github.com> schrieb am Di., 26. Juni 2018,
16:37:

[2018-06-27 08:58] NobodysNightmare commented on #466
I configured the hostname of the tracer to be `127.0.0.1` and ran our test load, which so far always locked up.
This time nothing locked up, so we seem to have found the cause :)

We will still observe our natural load closely and see if anything unexpected happens.

So how do we proceed here? Should we use `127.0.0.1` and call it a day? Is there an underlying problem that should be fixed? While t

[2018-06-27 15:24] delner commented on #459
Going to close this for now: feel free to reply again here if you don't feel like your question hasn't been answered.

[2018-06-27 15:30] delner commented on #238
We made another PR #451 that improves upon the configuration behavior; this is currently in review pending some other changes to our configuration API.

[2018-06-28 13:38] pawelchcki commented on #466
Great that its working stable now!

As for next steps, I'd suggest keeping using `127.0.0.1`. We might make that the default in next releases.

As for addressing underlying issue, upgrading `libc` to newer version might resolve it.

I don't think the bug is something we can fix on our side, however if you would provide info which `libc` version you are using and what OS distribution and version it

[2018-06-28 18:08] delner commented on #431
@senny Your most recent graph, showing 0.12.1. What process is this? Is this a sidekiq process or is it a Rails web server process?

[2018-06-29 08:51] senny commented on #431
@delner I'm pretty sure it was a Sidekiq worker.

[2018-06-29 20:02] delner commented on #431
@senny Cool, were the original graphs at the top also Sidekiq workers? (I assume so because I see `worker` in the name, but just want to be sure.)

[2018-07-01 08:34] senny commented on #431
@delner correct. It's even a couple of Sidekiq workers that will fork.

[2018-07-04 16:03] pawelchcki commented on #431
@senny Just to let you know - we are actively working on this issue and we've made it our top priority for next release. Right now we are benchmarking our code to find possible memory optimizations.

[2018-07-04 16:10] senny commented on #431
@pawelchcki thanks for the update and the good news. Let me know when I can provide some inputs or run something in our staging environment.

[2018-07-06 15:06] pawelchcki commented on #466
@NobodysNightmare since the underlying cause was identified and we've got a working workaround for systems which exhibit this bug, I'm going to close this issue.

Thanks for great help with diagnosing this!

[2018-07-06 15:06] #466 closed

[2018-07-09 15:01] pawelchcki commented on #431
@senny We've created PR #477 that addresses an issue with unclosed spans causing memory use increase. Its possible you've been affected by it as it specifically shows up in multithreaded applications, you should be able to verify that by running that PR on staging.

[2018-07-09 18:03] arunkumargit opened #479 "Stack level too deep"
I have installed ddtrace gem in my rails application and at times I get stack level too deep error. I tried the latest version of ddtrace and downgraded to 0.12.1 still no luck.

`SystemStackError (stack level too deep):
  /var/www/html/aktivlearn/vendor/bundle/ruby/2.1.0/gems/ddtrace-0.12.1/lib/ddtrace/contrib/rails/action_controller_patch.rb:56`

[2018-07-10 14:25] delner commented on #479
Hey @arunkumargit can you give me some more details? What version of `ddtrace` are you running? Can you also provide your Gemfile.lock to see if there are any conflicts? And how does this appear in your application? Does it appear on every route or just a few? If the latter, what makes that route unique?

[2018-07-13 15:34] delner commented on #415
@bessey I hope the above snippet worked for you. I'm going to close this issue for now; please feel free to comment here to follow up if need be!

[2018-07-13 15:34] #415 closed

[2018-07-16 02:11] jpaulgs opened #486 "Sinatra integration not setting rack.request"
I'm setting up DD APM to trace a Rack -> Sinatra -> Postgres application

With the following configuration each of these layers are presented as a seperate service in the environment.  Which seems to be the way DD is expecting to be setup.

[code]

![image](https://user-images.githubusercontent.com/30516993/42739233-97546632-88d6-11e8-8e7a-3f32b8f585aa.png)

However the rack service is grouping re

[2018-07-16 15:37] delner commented on #486
I do not believe the Sinatra integration is currently setup to do this. Rails does by default, by looking at its parent span, which if its a `'rack.request'`, it then overrides the resource on it. Out of the box, Sinatra won't do this, but it could by retrieving the `'datadog.rack_request_span'` key from the Rack ENV and overriding its resource. (We'd like to find a better way of doing this but th

[2018-07-17 08:15] jpaulgs commented on #486
I just created a pull request that updates the sinatra middleware to set the rack.resource.

Have a look and see what you think

[2018-07-17 10:30] juanibiapina opened #492 "Nested tracing not working"
We've recently updated to version 0.13.0 (from 0.7.2). After the update, we're losing traces. We use the rails integration, but we've been able to reproduce in the rails console like this:

In this case we get only the `outer` trace:

[code]

In this case we get no traces at all:

[code]

We're still investigating further.

[2018-07-17 13:51] delner commented on #492
Thanks for the report @juanibiapina . Can you try activating debug mode on the tracer configuration and let me know what it prints for the top example?

Here's my output running in a Rails app using the latest `ddtrace` (0.13.0) from master (which looks correct):

[code]

[2018-07-17 13:52] delner commented on #486
@jpaulgs I'll check it out. Thanks!

[2018-07-17 14:16] juanibiapina commented on #492
For the first case, the same one you tested, I get the same output you do. The payload is sent to the agent twice, one for each block. In datadog, I still only see the outer one.

For the second case I get an error:

[code]

[2018-07-17 14:49] delner commented on #492
Here's a screenshot from the Datadog UI from example 1, which seems to be working:

![screen shot 2018-07-17 at 10 33 55 am](https://user-images.githubusercontent.com/3237131/42824129-2f3d1a6c-89ad-11e8-9824-9a7c1e0e2693.png)

The second case error is definitely not good. You're receiving this error because despite clearing the parent, both spans are bound to the same context, so when the child fi

[2018-07-17 15:10] juanibiapina commented on #492
The second case is mostly legacy I think. I'll remove it since I don't really need it.

We'll continue investigating on our side why we don't see the metrics on datadog UI.

[2018-07-17 15:26] delner commented on #492
@juanibiapina My next suggestion would be to look at the trace agent logs. It should be possible to check those to see if there's something strange going on.

[2018-07-17 15:37] delner commented on #492
It can be used, but not in this way. It's a fairly low-level function over which context management (e.g. auto-parenting spans) is layered upon, such that if you change a span that's being automatically managed, it can cause unexpected behavior.

If you opt to not use automatic context management and prefer to manage all of the parenting relationships manually, you can do that using `start_span` a

[2018-07-17 16:12] juanibiapina commented on #492
Yep, I can see that.

We'll continue to investigate the first case, which seems to be the correct one and should work.

[2018-07-17 16:19] juanibiapina commented on #492
Ok, in summary:

This works:
[code]

But this fails to send the inner trace:
[code]

[2018-07-17 16:45] delner commented on #492
Can you share a screenshot of UI for the trace, from the lower example?

[2018-07-17 16:47] juanibiapina commented on #492
![screen shot 2018-07-17 at 18 47 07](https://user-images.githubusercontent.com/568764/42832569-e1bf6fe8-89f1-11e8-9f7e-a0a881a40ac4.png)
![screen shot 2018-07-17 at 18 47 23](https://user-images.githubusercontent.com/568764/42832570-e1e198ca-89f1-11e8-84ca-2055bda785e4.png)

[2018-07-17 16:51] delner commented on #492
What page is this from? My previous screenshot came from the Services page in APM (a URL like `https://app.datadoghq.com/apm/service/dd_rails_test/outer`.)

[2018-07-17 16:57] juanibiapina commented on #492
That's from the metrics summary page. From the services page:

outer4
![screen shot 2018-07-17 at 18 56 34](https://user-images.githubusercontent.com/568764/42832978-391c7794-89f3-11e8-88de-8c47fe3602c6.png)

inner4
![screen shot 2018-07-17 at 18 56 53](https://user-images.githubusercontent.com/568764/42832979-39388e66-89f3-11e8-81f5-e15be475fa04.png)

[2018-07-17 17:03] delner commented on #492
And what URL did you get the lower screen shot from? And where did you find that URL from?

[2018-07-17 17:11] juanibiapina commented on #492
I replaced the metric name in the URL because I couldn't find a link to that page.

Is there a point to your investigation that I can try to check on my side?

[2018-07-17 17:20] delner commented on #492
If I'm understanding the circumstances and your intent correctly, I don't think you should expect to see `inner` as a metric. Spans that are children to other root spans in the same service do not have metrics calculated on them that are directly visible or discrete from their parent. Rather, the root span of a service has metrics calculated for it.

This is probably why you don't see this visible

[2018-07-17 17:31] juanibiapina commented on #492
I don't see this flame anywhere, but I see your point.

My interpretation is that the original intent of the `set_parent(nil)` call on our code was to have these two as separate metrics. This used to work on 0.7.0 (probably), but now explodes on 0.13.2, which causes both metrics not to be sent.

The correct solution in this case is to use `start_span`, since we want a separate metric.

Makes sense

[2018-07-18 16:01] senny commented on #431
Thanks for all the work. We are currently running the latest version `0.13.1` and the memory stays fairly consistent with previous version.

[2018-07-18 17:10] pawelchcki commented on #431
Thank you for helping us diagnose it and thanks for the update @senny. If you feel the issue has been resolved, feel free to close it.

[2018-07-18 17:43] delner commented on #492
Alright, I'll close this for now, but please feel free to leave any other questions or suggestions here if you need any more help on this.

[2018-07-18 17:43] #492 closed

[2018-07-20 01:22] jpaulgs opened #494 "Name of Sinatra tracer is not configurable"
I've got a rack / sinatra application where the config.ru looks something like:

[code]

Unfortunately this results in datadog traces that look like

![image](https://user-images.githubusercontent.com/30516993/42977846-f202e2c8-8c0c-11e8-9e29-1593eb164b7a.png)

I would really like to be able to configure the name of the sinatra tracer but that is hardcoded at `https://github.com/DataDog/dd-trace-r

[2018-07-20 14:44] delner commented on #494
Hey @jpaulgs ! There are two kinds of names for spans there: span name and resource name.

Span names describe the general classification of what's being done in that operation, irrespective of application domain. This value is not intended to be configurable, and is the name you're seeing displayed on the flame graph.

Resource name is a user-definable domain name that describes a domain-specific

[2018-07-22 22:34] jpaulgs commented on #494
I'm not sure presenting the resource name in the span would help as in this case it would probably be the same resource for each of the rack spans and the sinatra spans.

I get that the span names were not designed to be configurable but would it be possible to display a piece of metadata associated to the span along with the name?

[2018-07-30 09:13] #431 closed

[2018-07-30 16:15] delner commented on #494
I suppose that will depend more so on the feature side of Datadog, than on our integration here. I can forward this request to our team if you like; they are always looking for suggestions like this. But I don't think we'll be able to address that in this issue here.

If I forward this along, would it be okay if I closed this issue? You could also try to reach out directly via our Slack channel if

[2018-07-31 03:29] jpaulgs commented on #494
Forward it onto the feature team and close this issue once that is done.

To be clear this is a pretty important feature for us. Is there a public repo which I can monitor?

[2018-07-31 04:46] delner commented on #494
I don't believe that repo is open source (for our UI/backend), so it wouldn't be publicly visible. If you'd like a channel to check back on this request, the best place to do that would be through our customer support; they create and monitor tickets for feature requests often.

[2018-08-06 15:35] delner commented on #479
@arunkumargit We didn't find any conditions that we could reproduce this issue with. I'm going to close this for now, but feel free to follow up if you have some more context to share!

[2018-08-06 15:35] #479 closed

[2018-08-07 18:45] delner commented on #393
This was released with 0.14.0.beta2 and will make its way to stable under 0.14.0. Closing this one out. Feel free to check it out and let us know how it works for you!

[2018-08-07 18:45] #393 closed

[2018-08-07 18:45] delner commented on #422
This is going to be released with 0.14.0.rc1. Feel to check it out and let us know what you think! Closing this one out.

[2018-08-07 18:45] #422 closed

[2018-08-13 15:37] shaneog opened #509 "How to disable per environment?"
I can't find any documentation on how to disable the tracer per environment. For example, I only want it to run in `production`.

[2018-08-13 15:44] shaneog commented on #509
Found that I need this in my initializer, outside the configure block:
[code]

[2018-08-13 15:44] #509 closed

[2018-08-15 10:27] NobodysNightmare opened #511 "Throughput of resque jobs reduced when datadog is enabled"
Hey there,

we are using datadog for a few week in production now. Lately we noticed that one of our resque based processes now took several hours instead of finishing within 15 minutes, as we were used to.

Sadly, I think we could pinpoint the problem to `ddtrace`.

## Context

Our process involves executing ~2500 resque jobs. They are all enqueued at the start of the process and  as soon as all

[2018-08-15 17:58] delner commented on #511
Hey @NobodysNightmare, thanks for the thorough report. These details are really helpful in framing the scope of the issue and will definitely be of use getting to the bottom of this.

Most of your jobs look very short, and might be affected by a change we've introduced in 0.14.0 under #474. As a possible super-quick (but maybe too optimistic) fix to this issue, I'd try that out, if you can, to see

[2018-08-16 08:33] pawelchcki commented on #511
Before https://github.com/DataDog/dd-trace-rb/pull/474 we were using `SyncWriter` class to perform writes before the worker exits.

This worked well enough with Resque workers that do not use Threads, however it turned out that with threads this Writer can severely degrade performance - as probably evidenced by your observation. The data probably is also not aligned because the added latency is ca

[2018-08-16 09:28] NobodysNightmare commented on #511
Okidoki, I will give 0.14 a try (you released that minutes after my issue, didn't you? :) )...

[2018-08-16 14:26] delner commented on #511
Maybe... :wink:

[2018-08-16 17:48] errriclee opened #513 "Default service prefix"
ddtrace should support a prefix for service names.

We are having to make code like this, which is needed because we have multiple Rails applications. Having to specify the same prefix on every service seems unnecessary:

service_name = 'backend'

Datadog.configure do |c|
  c.use :active_record, service_name: "#{service_name}-active_record", orm_service_name: "#{service_name}-active_record"
  c.us

[2018-08-16 17:51] watsonjon commented on #513
This would make our code so much easier! As of now we have to dig into the gem's source to ensure we set the correct option.

[2018-08-16 21:46] steveh opened #514 "'sequel' is not a valid integration"
As of v0.14.0, the Sequel integration has stopped working.

[code]

[code]

Inspecting the Registry object shows many other integrations are present, but not Sequel

[2018-08-17 16:51] delner commented on #513
I like this suggestion. We'll take a look at this, thank you!

[2018-08-17 16:55] delner commented on #514
I suspect the issue might be that we're missing `require 'ddtrace/contrib/sequel/integration'` in our `ddtrace.rb` file. This integration was recently upgraded. Can you try adding `require 'ddtrace/contrib/sequel/integration'` at the top of your configuration file to see if that works?

[2018-08-17 19:05] delner commented on #514
Replicated this by commenting the explicit require we had in our tests. #516 should fix the issue. Will aim to ship this in the next bugfix release.

[2018-08-17 19:14] steveh commented on #514
Thanks!

[2018-08-18 05:57] steveh commented on #514
fixed by #516

[2018-08-18 05:57] #514 closed

[2018-08-21 20:37] dobrite opened #520 "Rails integration does not pass down `request_queuing` down to rack integration"
I am trying to enable [`request_queuing`](https://github.com/DataDog/dd-trace-rb/blob/master/docs/GettingStarted.md#http-request-queuing) tracking for a rails app.

It looks like `use :rails` enables the rack integration and passes some rails config through to rack [here](https://github.com/DataDog/dd-trace-rb/blob/master/lib/ddtrace/contrib/rails/framework.rb#L46-L55), but `request_queuing` is mi

[2018-08-22 21:35] delner commented on #520
Hey @dobrite . We don't have a means of passing through the Rack configuration via Rails right now (although we are in the process of reworking our configuration to support exactly this), however, you should be able to do `use :rack`. It shouldn't overwrite configuration provided by Rails, only change the options you supply explicitly. Just put it after `use :rails` and it should be fine.

[2018-08-24 07:01] NobodysNightmare commented on #511
Preliminary data from another service that had throughput issues indicates that `0.14.1` has significantly better performance than `0.13.1`.

I will give you an updated comparison for the process detailed above, but I expect much better results there too :)

[2018-08-24 12:58] dim opened #525 "Using grape integration throws `uninitialized constant Datadog::Contrib::Rack::TraceMiddleware`"
Manually adding the following line fixes the problem:

[code]

[2018-08-24 13:34] delner commented on #511
Good to hear @NobodysNightmare ! Keep us posted with your findings!

[2018-08-24 13:40] delner commented on #525
I see... probably because we switched from a literal constant to a constant referenced in the Rack tracing middleware. This line of code here:

[code]

https://github.com/DataDog/dd-trace-rb/blob/master/lib/ddtrace/contrib/grape/endpoint.rb#L74

Thanks for the report, we'll add this `require` to the Grape integration.

[2018-08-28 11:25] guizmaii opened #527 "Distributed tracing: Typhoeus support"
Hi,

We're using https://github.com/typhoeus/typhoeus to make our HTTP calls. Is it possible for you to support this lib ?

Jules

[2018-09-03 04:24] bjeanes opened #529 "Feature request: HTTP.rb gem trace support"
It'd be great if I could trace HTTP requests a la Net::HTTP and Faraday for https://github.com/httprb/http, including splitting resource name by host.

FWIW (I can open a second issue if preferred), it'd also be great to be able to pass a block for resource name for many of these gems so that we could inspect the request object and build a custom resource name for it.

[2018-09-04 08:50] NobodysNightmare commented on #511
Our last run of the process had a *higher* throughput with datadog than without it.

This either means, that you added magical unicorns and datadog already makes our application faster **or** that any differences are now within the margins of measurement accuracy (those are probably rather wide for the given process).

I consider this issue fixed :)

[2018-09-04 08:50] #511 closed

[2018-09-07 14:45] renchap commented on #529
I was going to open the same feature request, so 👍

HTTP.rb is used by a few highly-used gems (`twitter`, `kubeclient`, …), cf https://rubygems.org/gems/http/reverse_dependencies and by Shrine (file upload management) in my case.

[2018-09-08 19:34] excalq opened #532 "Ability to blacklist resources (such as an ErrorsController)"
When we encounter a request (such as an API PUT with an unhandled "duplicate entry"), and a 500 error is produced, the Rails Controller tracer will report errors for both the original controller and the ErrorsController, which makes it appear that our error rates are doubled.

Might there be a way to blacklist/exempt/except the ErrorsController from the APM trace agent? I see documentation for obf

[2018-09-10 15:16] delner commented on #511
@NobodysNightmare I'll be sure to update our patch notes to explain our implementation of magical unicorns.

But I'm glad you're happy with it now; thanks for working us through this one! This kind of feedback is really helpful.

[2018-09-10 15:28] delner commented on #527
Hey @guizmaii , sorry for the late reply! I'll take a look at this and try to get it on our schedule. Thanks for the suggestion!

[2018-09-10 15:40] delner commented on #529
I'd be happy to add `HTTP.rb` to our backlog @bjeanes : we're always looking to expand our coverage over service endpoints, so this will fit right in.

Regarding the resource block, it might be best to open that in a separate issue, since presumably that kind of configuration support could be implemented separately, and we prefer to do things in smaller steps when possible. When you open that issu

[2018-09-10 18:07] delner commented on #532
Hmmm, if the error rate didn't appear doubled, then would this kind of additional functionality be needed? Or would your concern be resolved?

If yes ("it would be resolved"), we might want to look a little deeper as to how it's appearing doubled for you, and what can be done to address that, and if it can be done without adding a new feature to our tracer. However if "no" ("it would not be resolv

[2018-09-10 18:15] delner commented on #532
Also you might be interested in looking at our [processing pipeline](https://github.com/DataDog/dd-trace-rb/blob/master/docs/GettingStarted.md#processing-pipeline) which should allow you to define custom filters on your traces. Maybe that would be a suitable workaround in the interim?

[2018-09-10 18:44] delner commented on #520
@dobrite just wanted to follow up: did this work for you?

[2018-09-10 18:51] delner commented on #525
This is being addressed in #533 . Should roll with 0.15.0.

[2018-09-10 19:42] dobrite commented on #520
It did, however request queueing wasn't grouped in with the rails service, but rather a separate service. I started down the path of trying to unify them, but now I'm on another project.

I'm assuming the above is more of a feature request than a bug so I'll close this as complete.

Thank you for the follow up!

[2018-09-10 19:42] #520 closed

[2018-09-11 19:05] excalq commented on #532
Thank you @delner. So I've noticed this "doubled" report of 500s only occurs under the "controller_service" APM, but not the main rack-level service. As what shows up in the Web APM UI for both rack and controller APM appears mostly the same, we'll work-around this by enabling APM just at the rack level, not both rack and controller level.

I suppose it makes sense for controller-level APM to show

[2018-09-11 19:12] excalq commented on #532
And the trace that's displayed during this error in the web UI:
![image](https://user-images.githubusercontent.com/610274/45382032-eaf16300-b5bb-11e8-9f1f-edaccebdf027.png)

[2018-09-12 15:02] delner commented on #525
Merged to `0.15-dev`, should roll today. Thank you @dim !

[2018-09-12 15:02] #525 closed

[2018-09-12 22:19] steveh opened #538 "Feature request: Shoryuken integration"
Shoryuken is a Ruby worker for Amazon SQS.

It has [middleware](https://github.com/phstc/shoryuken/wiki/Middleware) based on Sidekiq, with a slightly different signature:

[code]

An important thing to note is that Shoryuken can be run in a batch mode, in which case `sqs_msg` and `body` will be arrays, see [this test](https://github.com/phstc/shoryuken/blob/master/spec/shoryuken/middleware/server/

[2018-09-13 18:16] delner commented on #538
Cool, this is really helpful detail @steveh ! I'm going to add this to our backlog now, so we can get this scheduled. Thanks for bringing this one to our attention!

[2018-09-14 20:43] delner commented on #513
This is being worked on as a part of #542.

[2018-09-20 14:36] delner commented on #149
@ejholmes I know this has been a long time coming, but we do have #552 up for review that addresses this.

Also, for what it's worth, in the current code you can add `DISABLE_DATADOG_RAILS` environment variable as `true` to prevent the Railtie from loading. That has been a feature since #173 (not long after this was opened.)

[2018-09-20 16:47] delner commented on #149
This should be solved now between the changes in #173 and #552 . Closing this issue. Please feel free to re-open if you feel like it needs further consideration!

[2018-09-20 16:47] #149 closed

[2018-09-26 12:46] guizmaii opened #564 "Jruby compatibility ?"
Hi,

Does this lib work with JRuby (9.1 ? 9.2 ?) ?

Thanks :)

[2018-09-26 14:33] pawelchcki opened #567 "Flaky CI build step for Ruby 1.9"
CI sometimes fails on ruby 1.9 build step that tries to fetch incompatible Rake version that doesn't support ruby 1.9.

[code]

[2018-09-26 19:27] delner commented on #567
I've seen this a couple of times, too. I think this might have something to do with Bundler caching things weirdly, but I'm not totally sure. If I were debugging this, I'd look at Bundler first.

[2018-09-27 08:01] guizmaii commented on #564
Thanks :)

[2018-09-27 08:01] #564 closed

[2018-09-27 08:50] simaofreitas opened #573 "Datadog-agent terminates if 8126 (statsd) port is in use"
Not sure this is something that should be fixed or is intended, but here it goes, in the hope it can help people in the same situation.

If `statsd` is running in the same machine where the datadog agent is deployed with APM enabled, and the management interface is turned on, the agent will fail to start. This happens because the agent uses port 8126 for the APM exports, which is the same port as

[2018-09-28 09:06] senny opened #574 "Rails databases: {} option"
Going through the changelogs of recent versions I found that support for multiple AR databases is now supported out of the box! 🎉

I tried to change our setup which was based on span preprocessors to use the new `databases:` option when configuring Rails. Unfortunately, I was not able to get it to work and everything was tracked in the database service specified as `database_service`.

My configur

[2018-09-28 21:40] delner commented on #574
Hey @senny , glad to here you're excited about the new database support!

I think what you have above was our original implementation of multi-DB configuration, which we reworked a bit. The current way of implementing it (I believe as of 0.14.0) is documented [here](https://github.com/DataDog/dd-trace-rb/blob/master/docs/GettingStarted.md#active-record). It's just a slightly different syntax, but

[2018-10-01 15:18] kawamanza commented on #538
Hello @delner, I had locally implemented this middleware to allow monitoring on Shoryuken workers recently. It's working fine and I thought about sharing this middleware with the community. Did you start implementing this middleware?

[2018-10-01 16:16] kawamanza commented on #538
Done :point_up:

[2018-10-01 18:35] delner commented on #574
Yeah you're absolutely right @senny the documentation is inaccurate here. I updated the code sample in ActiveRecord, but I neglected all the surrounding information and Rails itself. I'll have to fix this to be a bit more clear.

Also yes, `use :rails` will activate ActiveRecord automatically if present, and configure it with a service name/tracer as defined in Rails (e.g. `database_service`, `tra

[2018-10-01 18:38] delner commented on #573
@simaofreitas does this help at all?

[2018-10-01 19:41] delner commented on #574
Documentation for this will be fixed by #578.

[2018-10-01 22:08] simaofreitas commented on #573
@delner we ended up changing the port for the statsd mgmt port. It worked yes. But I would imagine this to be a normal setup. Maybe having a reference to this case in the documentation would help others or having the agent start in a different port if it finds the port in usage already.

Thanks for the suggestion and reference

[2018-10-01 22:08] simaofreitas commented on #573
@delner yes thank you.

[2018-10-02 14:45] delner commented on #573
@simaofreitas Okay, I can pass this suggestion along to our agent team. Would it be okay if I closed this issue?

[2018-10-02 18:04] simaofreitas commented on #573
@delner of course. I'll close it to make it easier. Thanks a lot for your help :)

[2018-10-02 18:04] #573 closed

[2018-10-09 22:40] drobert opened #585 "Support service mappings"
If you look at the configuration options for the [java tracer](https://docs.datadoghq.com/tracing/setup/java/#configuration), there is support for the notion of "service mappings". That is, the runtime may instrument a particular service as "foo" but want to report it to datadog as "bar".

It would be helpful to have this support built into the tracer.

(Truthfully, it feels odd that tracers are r

[2018-10-10 16:47] delner commented on #585
Can you be a bit more specific as to how this could apply to Ruby? Any examples where it might benefit from this?

As it stands right now, many integrations support (what I think is) the equivalent of service mapping, particularly in the database service name case. e.g. [ActiveRecord settings per database](https://github.com/DataDog/dd-trace-rb/blob/master/docs/GettingStarted.md#active-record) or

[2018-10-17 11:33] dasch commented on #250
Any update on this?

[2018-10-17 14:19] delner commented on #250
This is on our backlog, but we have particular interest in instrumenting more Rails packages out-of-the-box, so I anticipate this one will be handled sooner rather than later.

[2018-10-24 18:48] rromanchuk commented on #135
Hey @palazzem  @nerdrew i've got an implementation question. I was wondering, since i'm running two separate redis endpoints for `sidekiq` and rails `cache_store` via `config.cache_store = :redis_cache_store, { url: Credentials[:redis_cache_store_url], driver: :hiredis, connect_timeout: 1, read_timeout: 1}` ....what's the best way to inject a different service name for these?

Do I do something li

[2018-10-25 17:28] delner commented on #135
@rromanchuk The `Datadog.configure` in your first block should work.

As for getting Redis for Sidekiq, that's a bit trickier... looking at [Sidekiq's Redis connection code](https://github.com/mperham/sidekiq/blob/master/lib/sidekiq/redis_connection.rb), it looks like they have a connection pool of Redis clients, which seems to suggest there are many of them. The trick would be to inject code to w

[2018-10-26 18:05] mikhailov opened #599 "Mock HTTPTransport in dev/test"
We keep `ddtrace` gem preloaded for all environments including _development_ and also _test_ for the regression detection purpose. The gem configuration is different though, we configure `Datadog.configure` only for _staging_ and _production_, but still see the following messages in the other environments:
[code]

While we still want to keep `ddtrace` gem preloaded, HTTP POST requests are excessiv

[2018-10-29 14:43] delner commented on #599
Hey @mikhailov , this is definitely something on our list: to improve the tooling aspect, and how it fits in with test suites. We have a mock transport that we use in our own test suite, but we haven't made it directly available through the gem itself. We do plan to change that, and expose a set of mock/test components that can be configured into test suites so the trace code can be used, and even

[2018-10-30 18:20] delner commented on #574
The documentation change was merged and will be released with 0.17.0. Going to close this for now. If you have any other questions or comments regarding configuring databases like this, please feel free to comment or re-open.

[2018-10-30 18:20] #574 closed

[2018-10-30 20:32] delner commented on #494
Hey @jpaulgs , I think they just rolled out a new feature to the UI that shows more information on those Sinatra spans you're seeing in the UI, so that it also displays the resource. That should help make the traces a bit easier to understand at a glance.

Going to close this issue for now, but feel free to check back here if you need anymore help on the Ruby end of things.

[2018-10-30 20:32] #494 closed

[2018-11-11 23:40] zkamsler opened #629 "Quantization of Dalli SETs includes the value being set (which can be expensive)"
The tracing for Dalli commands includes all of the arguments to the method. For `set` and similar, this includes the value being set. If the value's `to_s` is large or expensive, it is still calculating the full thing before truncating it.

With many values, this showed up in my profiling as taking 100-250us. This was with values that were a `Hash` of objects that have expensive `inspect` methods.

[2018-11-12 13:27] gingerlime opened #630 "cache key logging can have performance side effects"
I'm looking at behaviour of rails caching when passing a collection (e.g. AR relation), and even though there's already a [problem related to this](https://github.com/rails/rails/pull/29092#issuecomment-437572543) with rails, if/when this problem is fixed, I anticipate a similar problem with the DD tracer at https://github.com/DataDog/dd-trace-rb/blob/282855235bd83a5e0df25bd5268bf7524ddd6ce1/lib/d

[2018-11-12 16:10] delner commented on #630
Thanks for the heads up @gingerlime. If it's as you describe it does sound somewhat concerning.

Just to clarify, users are presumably calling `cache.read(key)`, at which point we intercept that method call and trace. Would `key` not already be evaluated before reaching the tracer? i.e. Should they not implement `cache.read(ActiveSupport::Cache.expand_cache_key(key))` themselves?

[2018-11-12 16:31] gingerlime commented on #630
@delner thanks for looking into this.

In the scenario I described above, this all happens under the hood by Rails, and users would typically use a higher level abstraction / API. For example cache a collection in the view (and therefore pass the Active Record relation to the cache method, and not the key directly).

The view can look like this roughly

[code]

And then rails would create a key fr

[2018-11-13 01:05] delner commented on #630
Is Rails going to auto-detect that the "key" provided is actually an ActiveRecord association, then auto-generate its own optimal cache key based on that knowledge? Without the user having to manage the key format? Do I have that right?

[2018-11-13 07:33] gingerlime commented on #630
TL;DR yes.

Rails has quite a sophisticated mechanism for generating an efficient key from whatever you provide it. You can pass it strings or simple scalars, arrays/enumerables, objects and Active Record relations (e.g. `Project.where(:owner => "x").limit(5)`), etc. It would "figure out" the most efficient queries to generate a key with (in the case of AR relations, as I described above, it would

[2018-11-13 09:49] frsantos opened #632 "False positive "ActionView::MissingTemplate" when using devise"
We have a lot of error traces in our APM like this:

These traces correspond to correct logins (`Devise::SessionsController.create`) with the standard `devise` gem. In the stacktrace there is a call to the method `ActionController::Responder#to_html` in the gem `responders` (used by the `devise` gem):

[code]

The method is this: https://github.com/plataformatec/responders/blob/master/lib/action_c

[2018-11-13 16:14] delner commented on #630
This sounds like a very Rails thing to do. The more complexity the library encapsulates and handles, the more difficult it is to inject instrumentation, particularly if the components/functions aren't built in such a way that there's a clean division between the "resolve object to key" step and the "write key/value to cache" step.

We'll have to take a deeper look at this at some point. If this is

[2018-11-13 16:40] gingerlime commented on #630
Yes, it is very Rails-y :)

I tried to see what other tracers like scoutapp are doing, and didn't find any cache instrumentation (but didn't look too deeply).

I think there are ways around this that you guys should consider, maybe only logging scalar values, or basically avoiding any introspection that has side effects (e.g. enumerating recursively, but then mapping with a `to_s` on each non-enum

[2018-11-13 18:12] delner commented on #630
Yeah, we might be able to do some nicer things with the cache keys: ideally something as simple as possible but not too simple.

If you feel inclined to tinker with some more flexible/simple/performant implementations, we'd very much welcome that. In the mean time, I'll add this to the backlog, so we can schedule this for work in the future.

[2018-11-13 19:23] delner commented on #632
I see. What is the deepest span that the error appears on? `rails.render_template`?

This is a little tricky since it's hard to configure the trace to whitelist an `ActionView::MissingTemplate` error under this very specific set of circumstances.

I'm thinking if we wanted to solve this with a code change, there are two strategies that could help with this. Either 1) add a more generalized excepti

[2018-11-15 14:22] frsantos commented on #632
Thanks @delner.

Yes, in fact this is the first time I've seen this pattern (try to render, capture, do other things), so I may workaround with what you suggest. I'll take a look in some days, when I'm not so busy.

[2018-11-16 20:34] zkamsler commented on #629
@delner That is good to hear.

On some trivial-ish rails requests ddtrace is allocating ~70KB, and this (including the forced encoding of the string) appears to account for about half of that. That is more than even activerecord. Certainly one hopes that an APM won't substantially affect the performance of the program.

I imagine that if you don't keep the value, you would no longer need to treat

[2018-11-22 10:44] frsantos opened #636 "[rest_client] NoMethodError: undefined method `code' for nil:NilClass"
When invoking `RestClient::Request.execute` with a block that does not return the request.

For example:
[code]

This is a case we faced when using Cloudinary. It uses `RestClient` [without returning a request](https://github.com/cloudinary/cloudinary_gem/blob/master/lib/cloudinary/uploader.rb#L327).

[2018-11-26 16:05] delner commented on #636
Thanks for the report @frsantos! I'm going to look into this, see how to fix it up.

[2018-11-26 16:19] Jcambass commented on #135
If you're using rails own [RedisCacheStore](https://github.com/rails/rails/blob/b1223458979adc29117ffa1392526c6a166effed/activesupport/lib/active_support/cache/redis_cache_store.rb) you're fine using:
[code]

If you're setting any pooling options `Redis::Distributed` is gonna be used and some monkeypatching is needed. For Sidekiq you also need to do monkeypatching.

[2018-11-27 14:09] guizmaii opened #640 "Very high performance overhead on JRuby"
Hi Datadog,

I'm migrating a Rails (4.2.10) app from MRI Ruby 2.3.8 and Unicorn to JRuby 9.1.17.0 and Puma.
The `dd-trace-rb` version used is `0.17.2`

While doing some performance tests, I saw a big difference between my benchmarks in dev mode and prod mode with JRuby:
 - dev mode with JRuby/Puma: ~280req/s
 - prod mode with JRuby/Puma: ~100req/s .

I found that disabling the Datadog agent (by su

[2018-11-27 19:56] guizmaii commented on #640
Hi @delner,

Thanks for your answer. I'll answer your question later. Now I want to give more results of my different tests.

As indicated in my initial message, one thing I still had to test was:

Maybe, this could be the reason of the problem. I don't know for now. I still have to test that.

So, I've done that tests and here are the results !

------

First, Here's how I launch a Datadog OS age

[2018-11-27 20:17] headius commented on #640
It's possible there are still exceptions or Kernel#caller being used. Did the backtrace stuff go away in `--sample` output?

These numbers are rough...other than exception traces, maybe excessive locking?

[2018-11-27 20:19] delner commented on #640
We do use a lot of locks, and there might be some places where it might not be needed. Maybe this doesn't affect MRI as much as it affects JRuby, but it might be worth experimenting with that locking to see if it makes a difference in throughput while maintaining thread safety.

[2018-11-27 20:53] guizmaii commented on #640
@headius

I didn't have the time today to test that. I'll do it tomorrow ! 🙂

[2018-11-27 21:37] enebo commented on #640
@guizmaii Just glancing at datadog and I see in case of a log message with severity of ERROR it will call caller to provide more context.  This will have same overhead of generating an exception (cost of exceptions in JRuby are based on having to construct a backtrace -- which is same basic cost for caller).  Not saying it is this but replacing ```c = caller``` with ```c=1``` in the gem and rerunn

[2018-11-28 00:04] delner commented on #636
Opened a pull request here: https://github.com/DataDog/dd-trace-rb/pull/642

[2018-11-28 18:59] guizmaii commented on #640
Some answer I can give you after my day of work:

@enebo "replacing c = caller with c=1" doesn't change anything

@delner It seems that it's the `:rails` integration which is problematic.

When I remove the `c.use :rails, service_name: "#{Settings.datadog.service_name}-rails", distributed_tracing: true` line from my config, performances come back.

I have an open-source project where I try to repr

[2018-11-28 20:54] delner commented on #640
Okay good to know. The Rails integration itself consists of a few different distinct parts, which we might want to activate independently from one another, to see if it comes from one particular component or not.

You should be able to activate Rack in one test using `use :rack`, and ActiveRecord in another using `use :active_record`. For the components that are internal to Rails, like template re

[2018-11-29 11:11] guizmaii commented on #640
Hey,

Thanks for the info @delner. I'll work on that today !

@enebo In fact, you were right about exceptions.

Here's the result of a profiled execution with `dd-trace-rb` **enabled**:

<details><summary>Show data</summary>

[code]

</details>

-----

and here the result of a profiled execution with `dd-trace-rb` **disabled**:

<details><summary>Show data</summary>

[code]

</details>

-----

If

[2018-11-29 13:30] guizmaii commented on #640
There's a change I found the culprit !

<img width="1792" alt="screenshot 2018-11-29 14 26 19" src="https://user-images.githubusercontent.com/1193670/49225008-3bba7000-f3e3-11e8-847b-b65b7062bb2e.png">

[2018-11-29 15:59] delner commented on #640
@guizmaii Mmmm, interesting. Does this raise a lot of exceptions in JRuby? If so, what kind of exception? Maybe this isn't JRuby compatible and we should either short circuit `nil` or find an alternative means of making this feature work.

Also, does it raise often (or at all) in MRI?

[2018-11-29 16:17] guizmaii commented on #640
`ObjectSpace` is deactivate by default in JRuby for performance reasons.
More info: https://github.com/jruby/jruby/wiki/PerformanceTuning#dont-enable-objectspace
So we can't use it with JRuby.

-----

I'm currently looking how all of this works by debugging my app.

A thing I observe is that at the app boot, this function is called:
[code]

with `object_id` equal to `nil`. So it calls `default_con

[2018-11-29 16:36] delner commented on #640
Yeah, so you've encountered the challenge with ActiveRecord notifications, haha. This ActiveRecord code that we wrote is attempting to accomplish two major things: 1) determine a good service name to assign the ActiveRecord application at boot time, and 2) resolve the connection parameters at trace time so we can tag the trace with details like `host`, `port`, etc.

I have to look at it again, but

[2018-11-29 17:08] delner commented on #636
Released 0.17.3 which should resolve this.

[2018-11-29 17:08] #636 closed

[2018-11-29 17:45] guizmaii commented on #640
FYI, @headius said this: "_id2ref should never be use by any code anywhere. It isn't even safe on MRI." Here: https://twitter.com/headius/status/1068188351012966402

Another information, thanks to this ugly fix https://github.com/DataDog/dd-trace-rb/pull/645/commits/ee61d240edb1e783ecfbac001664d1745ca8b68b and some additional tests, I can confirm that it's only this line of code that is problemati

[2018-11-29 19:09] delner commented on #640
Great, this has been really helpful. I'm glad we've been able to narrow this down to something very specific.

Can I suggest you try forking `ddtrace` and commenting/disabling this part of the code? It would be good to see how much it could improve performance compared to your previous benchmarks.

[2018-11-29 19:16] guizmaii commented on #640
Already done with the ugly fix I talked about. The performances are great ! Just the same as without `dd-trace-rb` 🙂

[2018-11-29 19:32] delner commented on #640
Awesome! Sorry if I misunderstood that. Sounds like this is something we can/should fix right away then.

[2018-11-29 19:40] guizmaii commented on #640
I proposed an evolution to Rails here: https://github.com/rails/rails/pull/34568.

Maybe there's another way to solve that but I'm not an expert in Ruby nor in Rails to know that other way. 😕

[2018-11-29 20:05] delner commented on #640
At the very least, if the Rails guys can't/won't make a change like this, I could probably try introducing a monkey-patch that injects this behavior into Rails. That would be very sub-optimal though, given it'd probably be very brittle between Rails versions.

[2018-11-29 20:13] guizmaii commented on #640
IMO, Rails 3 and 4 could be monkey-patched without risks because they don't evolve anymore.

For Rails >4, we could use the solution the Rails guys will propose us. Let's see what they propose.

[2018-11-29 23:17] guizmaii commented on #640
Maybe a better option than monkey-patching, we can propose a change to the `activerecord-jdbc-adapter`.

They have already redefined the `ActiveRecord::ConnectionAdapters#log` method: https://github.com/jruby/activerecord-jdbc-adapter/blob/1-3-stable/lib/arjdbc/jdbc/adapter.rb#L700

[2018-11-30 08:34] headius commented on #640
I wanted to clarify my statement about id2ref above...

The problem with it in MRI is that the object_id is basically just the pointer to the object on the heap. Using a pointer to recover the object can fail spectacularly if the object has been collected and that pointer address now contains a new object. In addition, using object_id makes objects "shady" (I believe...@tenderlove or @ko1 can conf

[2018-11-30 09:34] guizmaii commented on #640
Hopefully we'll not need to monkey-patch 🙂

https://github.com/rails/rails/pull/34568#issuecomment-443144891

[2018-11-30 09:41] guizmaii commented on #640
I've found a solution ! (See https://github.com/rails/rails/pull/34568#issuecomment-443144891)

I'll implement the fix 😉

[2018-11-30 11:16] guizmaii commented on #640
The fix is implemented. See #646.

But tests fail for strange reasons:
[code]

[2018-12-01 05:05] ko1 commented on #640
On the current MRI, `object_id` doesn't affect any data structure changes. But @tenderlove is making new optimizations (mostly compaction/copying GC) and it change the behavior (`object_id` will affect performance).

[2018-12-03 09:02] headius commented on #640
@ko1 Thank you for clarifying! JRuby also sees little impact but only because we do not normally support _id2ref without a command-line flag. With id2ref enabled, however, the impact is very large. In the future, object_id needs to either go away (best) or become and opaque, idempotent value (very complicated).

In any case...nobody should use object_id or id2ref ever.

[2018-12-14 18:40] delner commented on #640
@guizmaii I merged #648 and #649 which should address this issue. Can you try the latest on `0.18-dev` and see if it resolves your performance issue? If so, let's close this PR.

[2018-12-14 18:43] delner commented on #538
@steveh @kawamanza we merged #626 which adds support for this. It should roll with the 0.18.0 release. Closing this issue; thank you!

[2018-12-14 18:43] #538 closed

[2018-12-14 19:03] guizmaii commented on #640
Your solution is fun. Way too complex for a Scala dev like me to fully understand but I think I see what you're doing in the #649 patch. 🙂

I ended something else I was working on this week just now and it's friday evening here. So, I'll test you patch on monday morning !

Thanks for your help and responsiveness 🙂

[2018-12-18 00:17] delner commented on #640
Merged your PR to `0.18-dev`. Thanks @guizmaii! I'm going to release this tomorrow with 0.18.0.

[2018-12-18 13:13] guizmaii commented on #640
Great news!

Thanks for all @delner. It was great to work with you! :)

And thanks to everyone how helped us here, especially @headius :)

[2018-12-18 13:13] #640 closed

[2018-12-18 16:48] delner commented on #640
Likewise @guizmaii, you were extraordinarily helpful!

[2018-12-20 16:57] EpiFouloux opened #661 "Stack Level too deep (SystemStackError)"
Hello,

I installed the gem `ddtrace` on my rails application and created the config file as the documentation says:

`config/initializers/datadog-tracer.rb`:
[code]
`Gemfile.lock` extract:
[code]
If I attempt to access my active record models, event something like `MyObject.count` I receive the following error:
[code]
If I remove the config file or remove the line in the `do-end` block everything

[2018-12-20 17:58] tjgrathwell commented on #661
I'm getting this too, as of ddtrace 0.18. We rolled back to 0.17.3 because all sorts of commands crash, though possibly only in development or test envs because we had it deployed in production for some time.

Here's the relevant part of the stack trace

[code]

I traced it as far as the `insert_shim!` code which is new in ddtrace 0.18. I think the `:connection` object it adds to the args is getti

[2018-12-20 18:41] delner commented on #661
Ahhh okay, thanks for reporting this one. We're going to take a look at this ASAP.

[2018-12-20 18:51] delner commented on #661
@EpiFouloux or @tjgrathwell , do you have a snippet of code or a test we can run to reproduce the problem in a test environment? Want to make sure we're fixing this properly.

[2018-12-20 19:33] tjgrathwell commented on #661
@delner I tried making a minimum viable rails app right now (ruby 2.5.1, rails 5.2, postgres, just adding the ddtrace gem) but it didn't seem to exhibit the problem our real app does

Since the `meta_request` gem was also present in the stack trace I posted, I tried that too and it caused the crash. So I guess the issue only shows when using both `ddtrace` and `meta_request`, though it's possible

[2018-12-20 19:42] delner commented on #661
Okay, maybe he's using the same gem, but maybe instead there's some common thread that's causing incompatibility with other gems as well. I'll give that a shot, thanks @tjgrathwell . Let me know if you find anything else.

[2018-12-20 19:55] delner commented on #661
@tjgrathwell Have another question for you... can you try https://github.com/rails/rails/pull/34602 without `ddtrace` but with `meta_request` and see if this replicates things?

Part of me suspects that in trying to replicate a future Rails feature, passing an object in the event args instead of a simple serializable value might be causing this. Possibly because `meta_request` or other gems are tr

[2018-12-20 20:37] delner commented on #661
Okay, this is definitely because we're putting a non-serializable object into the event args. I can confirm this error also occurs with https://github.com/rails/rails/pull/34602 and without `ddtrace`, so my thinking is this is a version incompatibility of serialization gems like `meta_request` with Rails 6+.

Because `ddtrace` definitely should support Rails < v6, we will implement an alternative

[2018-12-20 22:41] delner commented on #661
@tjgrathwell and @EpiFouloux , I opened #662, which I've tested against a Rails app in which I recreated this error; the PR appears to fix it. Would you like to give it a shot to confirm it solves your issue?

I'll probably put this in a `0.18.1` release for either tonight or tomorrow.

[2018-12-21 08:34] EpiFouloux commented on #661
@delner I upgraded to `0.18.1` and it works, I have a new error after the first attempt to access the database:

``` [2018-12-21T09:30:52.045674 #7686] ERROR -- ddtrace: [ddtrace] (/home/felixdemaneville/.rbenv/versions/2.4.3/lib/ruby/gems/2.4.0/gems/ddtrace-0.18.1/lib/ddtrace/transport.rb:215:in `log_error_once') Failed to open TCP connection to 127.0.0.1:8126 (Connection refused - connect(2) for

[2018-12-21 16:01] delner commented on #661
Okay, glad to hear that the original issue is fixed.

Regarding the connections, it will default to `127.0.0.1:8126` without any env vars or configuration supplied. If your agent is running at a different location, you can configure it in `Datadog.configure` or use those `DD_TRACE_HOST` and `DD_TRACE_PORT` env vars.

[2018-12-21 18:58] tjgrathwell commented on #661
@delner Seems to work for me, thanks for the fix!

[2018-12-29 14:58] renchap commented on #529
`HTTP.rb` now seems to have an instrumentation feature that could be used for the Datadog integration: https://github.com/httprb/http/issues/209

[2019-01-03 18:39] #630 closed

[2019-01-17 09:50] Azure7111 opened #674 "MongoDB tracing error upon truncating for specs"
I'm currently adding the datadog agent to an app which is truncating its database each time before any specs are run. Although tracing is supposed to be disabled in the test environment the gem still tries to trace the truncation. So trying to run the specs results in the following error:

[code]

It turns out that this very line was changed in the most recent version (`0.18.2`), and downgrading t

[2019-01-17 15:23] delner commented on #674
Opened up #675 that might fix this. Can you give it a try @Azure7111?

[2019-01-17 15:51] Azure7111 commented on #674
First off let me say that I'm impressed by the quick response. Thanks!

Just gave #675 a try and it works for me! Awesome! :)

Do you still need a code sample in that case?

[2019-01-17 16:42] delner commented on #674
@Azure7111 cool, glad to hear it's working.

If you could, it would still be helpful, because I can't say I understand how it called `failed` before calling `started`; the gem source code seemed to suggest it always happens in sequence, yet it appears that's not what happened in your application. Having a little extra insight there might help reassure us that the fix is robust enough to prevent th

[2019-01-17 20:45] delner commented on #674
Fix is merged to `master`, closing this.

[2019-01-17 20:45] #674 closed

[2019-01-22 04:47] amundra2016 commented on #661
Hi @delner , I am facing a similar issue what has been described above.
[code]
However I dont understand the entire solution that you have provided. I have configured my ruby application like this
[code]
Here `dd-agent` is the `datadog/agent` container present on the same docker network, so this also reachable.Where and how should I use these env vars `DD_TRACE_HOST and DD_TRACE_PORT` (I am not fi

[2019-01-22 16:59] delner commented on #661
@amundra2016 The error you're seeing is likely unrelated. It appears, from what we can tell right now, to come from Net/HTTP throwing timeout errors upon failing to establish a TCP connection to the agent. This could happen for a number of reasons, however, according to https://stackoverflow.com/questions/42036133/ruby-netopentimeout-execution-expired it might be caused by DNS resolution failure (

[2019-01-23 05:46] amundra2016 commented on #661
Hi @delner , thanks for the response, yes that was the problem with it, Using IP or gem suggested in link worked quite nicely.
Thanks again 🙇

[2019-01-23 23:38] blaines opened #681 "When configuring dd-trace to use a logger, the passed in logger's level is manipulated."
In the case of configuring the datadog trace client, when passing a custom logger into the datadog client the custom logger's level will be changed to WARN. This had a negative effect on our system, hiding all INFO logs. Example of our configuration:
[code]
Once Datadog trace is configured `debug_logging=` will be called here:
https://github.com/DataDog/dd-trace-rb/blob/master/lib/ddtrace/configur

[2019-01-24 22:12] rmsy commented on #361
Hello,

I'm sorry to dig this back up, but I'm encountering a similar issue. I have `ddtrace` required in my Gemfile, and I also can confirm that it is installed with `bundle list`. However, not even the `require 'ddtrace'` is working for me.

Here is my `datadog.rb`:
[code]

Is there anything I should try? I'm not sure what I'm missing. bundler is installing ddtrace version 0.19.0.

[2019-01-25 03:31] rmsy commented on #361
Well, after trying your steps, everything was looking good so I decided to give it another shot. I don't know what changed, but it's working just fine now.

I am assuming that it was some strangeness related to my deploy setup, but it appears to be straightened out now. Thanks for your assistance!

[2019-02-01 14:11] Mange commented on #681
This hit us too. I had to monkey patch `Rails.logger.level=` to print a stack trace in production in order to find the cause of it as I couldn't reproduce it anywhere else.

[2019-02-02 09:30] iox opened #682 "Rails + Docker Compose: Setting the hostname/IP of the tracer did not work as expected"
I'm running a Rails application using docker compose. I have added datadog as a linked docker service.

Then, I have tried to set the tracer to use the hostname of the datadog agent:

[code]

But it didn't work, I could see in the logs that it was still trying to connect to localhost:8126.

So, after checking the source (https://github.com/DataDog/dd-trace-rb/blob/master/lib/ddtrace/transport.rb#L

[2019-02-04 16:28] delner commented on #682
Well that's very curious if the `hostname` isn't working; the `c.tracer hostname: 'datadog-agent'` line should reconfigure the tracer and writer with the specified hostname via https://github.com/DataDog/dd-trace-rb/blob/master/lib/ddtrace/tracer.rb#L149

Thanks for sharing this @iox!

[2019-02-04 18:47] delner commented on #682
I tried to replicate this locally without success. I removed all Datadog env variables from the Docker container and configured the tracer with `c.tracer hostname: 'ddagent'` and it sent the traces successfully to my designated hostname.

I'd like to see a code sample that can replicate this. In the interim I'm going to close this issue as it can't be reproduced and there's a prescribed workaround

[2019-02-04 18:47] #682 closed

[2019-02-04 20:27] nwj opened #684 "NoMethodError undefined method `service=' for nil:NilClass"
Hi there,

We're getting `NoMethodError  undefined method 'service=' for nil:NilClass` exceptions out of dd-trace in a handful of rare cases that we're not totally able to reproduce. Our application depends on redis, and we think the times that this has raised coincide with points when we've lost a redis node.

Relevant stack trace from our logs below:
[code]

Our non-expert opinion is that adding

[2019-02-05 14:31] buddhistpirate commented on #372
I'm going to close this as I no longer have any issues related to this. Thanks.

[2019-02-05 14:31] #372 closed

[2019-02-05 16:10] delner commented on #684
Thanks for the report @nwj!

So the line in question is a bit crazy (https://github.com/DataDog/dd-trace-rb/blob/master/lib/ddtrace/contrib/redis/patcher.rb#L65), since it seems to suggest that `tracer.trace` is not returning a span.

Digging deeper, only way I can see this happen is when this line (https://github.com/DataDog/dd-trace-rb/blob/master/lib/ddtrace/tracer.rb#L301) catches an error, an

[2019-02-08 01:03] nwj commented on #684
Thanks for the response @delner

Checked our logs and we don't see any `Failed to start span`, but that's also expected as we don't run in production in debug mode.

We could try running with a fork that escalates that one message, but it's not top priority for us right now given that we've only seen this occur a handful of times in our logs.

[2019-02-11 19:33] ryanspiffy commented on #632
@delner We recently started using DataDog and also see this issue spamming our logs as errors.  At first, I thought it was something we needed to fix that had possibly gone unnoticed with our last APM solution, but it seems the error is being handled by Devise correctly.  I'm not sure I understand your suggestion to handle the issue with a pipeline configuration. Could you provide some additional

[2019-02-11 19:52] delner commented on #632
@ryanspiffy The reference to the pipeline is [the link](https://github.com/DataDog/dd-trace-rb/blob/master/docs/GettingStarted.md#processing-pipeline) I shared above.

[2019-02-18 15:47] nic-lan opened #690 "Faraday integration returns `:ddtrace is not registered on Faraday::Middleware`"
I am trying to trace the Faraday connection by doing

[code]

but i receive `Faraday::Error (:ddtrace is not registered on Faraday::Middleware)`

i checked the code for ddtrace and replaced the above with explicit setting of
[code]

and now i receive `undefined method tracer' for nil:NilClass`.

The failing call is:
[code]

Does this sound familiar to anybody ?

[2019-02-19 09:01] #690 closed

[2019-02-19 14:46] senny opened #691 "Error logs in production: dropping trace reason: foreign span in trace"
We have upgraded to the latest DataDog agent some time ago. Since this transition we now observe regular errors in our logs about traces that are being dropped. Following are some samples:

[code]

We see roughly 1000 of them per day. Do you have any hints what could be causing them?

[2019-02-19 17:55] delner commented on #691
Very curious... not sure yet. I'll get back to you on this. Thanks for the report.

[2019-02-19 19:51] delner commented on #691
@senny Sounds like this error is produced when a trace has spans added to it that belong to a different trace. (https://github.com/DataDog/datadog-agent/blob/c9678cb233964b9f55ec6d6dfdd74b8e9c79a990/pkg/trace/api/normalizer.go#L158-L159)

I've never seen something like this happen before, but if I were to guess, it might be related to threading or use of async frameworks. In `ddtrace-rb` there's b

[2019-02-20 08:24] senny commented on #691
We are using `0.17.1`. I can't speak for earlier versions because we have only upgraded to the latest agent recently. The agent version is `6.9.0-1_amd64`. I didn't set the tracer to debug mode yet. How much log volume increase do I need to expect when running this in production? We don't have too much room in our log volume capacity. It happens almost exclusively on our Sidekiq worker dynos. Ther

[2019-02-20 15:13] incorvia opened #694 "What is Scout's ruby gem doing right?"
Just getting started with DataDog APM, installed dd-trace-rb and was a little disappointed that so little was available out of the box. I found this article about [DataDog vs Scout](https://scoutapp.com/blog/datadog-vs-scout-which-is-right-for-you) and it made me wonder, does anyone know why Scout's gem is able to get such rich metrics about each method call within action? Is there anyway I can re

[2019-02-20 15:39] incorvia commented on #694
Seems its related to ScoutProf https://github.com/scoutapp/slate_apm_help/blob/master/source/includes/_reference.md#scoutprof-faq

And seems their special sauce is that they do a sample every 1ms that produces a backtrace and they batch process those on the server to compare time spent in different methods. Doesn't seem their solution strictly involves their gem and also involves server processing

[2019-02-20 16:17] incorvia opened #695 "Would a PR for FastJsonAPI by Netflix be accepted?"
It seems to already support ActiveSupport::Notifications for instrumenting, so I think it should be pretty simple to copy the active model serializer code and replicate for FastJsonAPI but just curious if it'd be accepted.

[2019-02-20 17:00] delner commented on #691
I'd recommend upgrading to the latest 0.19.1 over 0.17.1, although I can't say it'll definitely fix this issue. Debug mode will be very verbose, so I'd recommend activating it in a failure-tolerant environment like staging, if you can replicate it there. Can you also share your Gemfile.lock? We need to know what libraries are present and how they could be impacting operation.

To figure out what's

[2019-02-20 20:26] delner commented on #695
@incorvia We're always interested it seeing new integrations for popular frameworks, and FastJsonAPI would definitely qualify. We don't yet have a contributing guide, which is something we'd really like to add soon, but I can share some general guidelines for new integrations:

 - They can either be added directly to `dd-trace-rb` or developed as it's own gem that builds upon it.
 - They should im

[2019-02-21 16:12] senny commented on #691
The errors are still present after upgrading to `0.19.1`. Our staging system is not monitored by DataDog at the moment. I can look into enabling that but it will take some time.

Instrumentation is nested into proprietary code I am not able to share.

[2019-02-22 23:38] porty opened #698 "Extend trace IDs to 128-bit for OpenCensus compatibility with distributed traces"
When working with compatibility with other tracing systems, I've found that Datadog's 64-bit trace IDs cause issue when working with OpenCensus' 128-bit trace IDs. Outgoing request trace information is OK (as 64-bit trace IDs can be extended to 128-bit) however incoming request traces cannot be continued. I see the Go OpenCensus implementation silently drops half the trace ID: https://github.com/D

[2019-02-23 02:35] delner commented on #698
Right, it would take a lot of changes in the Datadog repos or infrastructure to make this happen; maybe it will eventually, but unlikely to be anytime soon.

That said, leveraging your idea of tagging secondary headers could be implemented as an extension to this Datadog library; it could come in the form of a gem like `ddtrace-opencensus` or the like. In such a gem, you could inject a module into

[2019-03-04 08:25] alksl opened #707 "Apply AWS integration for service level gems"
Configuring the AWS integration when using service level gems e.g. `aws-sdk-dynamodb` don't work since the integration only checks for the presence of the `aws-sdk` gem and the integration will never be patched.
See
https://github.com/DataDog/dd-trace-rb/blob/ff0bad458fab522e0566d279cd6f2ef519ade32c/lib/ddtrace/contrib/aws/integration.rb#L14-L16

A possible solution can be to check for either the

[2019-03-04 09:11] alksl commented on #707
Using this workaround at the moment which will force patch this integration.

[code]

[2019-03-06 11:43] phlegx commented on #132
Hi @delner any news about this?

[2019-03-06 21:19] delner commented on #132
Looks like weeks quickly turned into a year... sorry we haven't yet had a chance to look at this!

I would love to build this, however, it's unlikely I'll be able to dedicate any time to it in the immediate future. For what it's worth, we do have upcoming plans to overhaul the Rails integration, which will make it a lot easier to add in this ActionCable integration.

It's worth mentioning that we

[2019-03-09 00:04] bjeanes commented on #529
Any sense of what this will take to get done @delner? Currently this is a growing gap in our trace coverage.

[2019-03-09 14:36] delner commented on #529
@bjeanes It's on our backlog but we're unlikely to work on it in the near future.

We do routinely incorporate integrations developed by the community in the form of pull requests: that would likely be the fastest route to have this added. Alternatively, you could patch HTTP.rb using our trace API included in `dd-trace-rb`; there are a fair number of integrations that demonstrate how this works.

[2019-03-20 00:28] armstrjare opened #723 "Infinite loop with some service (eg. Rails) patchers +`Module#prepend` elsewhere"
The tracer instruments using alias_method in many cases through the Rails stack.
If any other library has used Module#prepend over the same method, this seems to cause an infinite loop.

In our case, we're currently use DD APM + Scout APM at the same time. Scout APM recently swapped to using Module#prepend for Rails 6 compatibility (which seems to now use Module#prepend over some methods that they

[2019-03-20 01:11] delner commented on #723
Thanks for the report. We plan on migrating to a `prepend` strategy as well: I think that should prevent this from happening. Will add this to the backlog.

[2019-03-20 20:02] delner commented on #681
This should be fixed with #721, and will roll in 0.21.0. Please let me know if this works for you!

[2019-03-20 20:02] #681 closed

[2019-03-20 20:05] delner commented on #599
Just an FYI, I started working on the groundwork to make this possible. I opened this #628 which refactors how our `Transport` works, so as to make it much easier to implement a mock transport to capture output with.

Might still be a while till this is available, but if you have any thoughts about how that helps this issue, feel free to share them.

[2019-03-22 14:45] chancelang commented on #723
Running into the same issue using Sidekiq, any workarounds?

[code]

[2019-03-22 15:55] delner commented on #723
I think the `prepend` strategy should help, as mentioned above.

(@chancelang Also, side note, but I would highly recommend upgrading to at least 0.19.1. It won't fix this specific issue, but it will add another critical bugfix for an issue in 0.19.0.)

[2019-03-22 20:23] chancelang commented on #723
@delner Thank you very much for the quick response! We had to remove the jb gem to get moving again. Also upgraded to the new version of dd-trace :)

[2019-03-22 20:27] armstrjare commented on #723
Is there any timeline on the prepend strategy being implemented?

I haven’t tested ddtrace with Rails 6 yet - but I know this was why Scout
APM had to make this change as  there is framework usage of prepend on
instrumented methods.

Has ddtrace been validated in Rails 6 yet?

On Sat, 23 Mar 2019 at 9:23 AM, chancelang <notifications@github.com> wrote:

[2019-03-23 07:41] delner commented on #723
No, it has not been verified with Rails 6.

We do have an overhaul of Rails on our backlog for the near future, but I unfortunately don't have any dates or expectations for when that would happen right now. My sense is if ddtrace-rb doesn't work with Rails 6, we'd likely escalate its priority. I'd be curious to see if that's the case, and if it is, I can raise that to our team.

[2019-03-25 16:41] nic-lan opened #727 "Improve logging and active correlation when Lograge enabled"
Hi,

I found a way to improve a bit ( in my opinion 😂  ) the logging on STDOUT.
I opened a [PR on lograge](https://github.com/roidrage/lograge/pull/281) too, but no answer there..

Since the changes were introduced to deal with active-correlation and datadog agent fetching logs from STDOUT I repost in here.
Maybe someone find this interesting and we add this to the dd-trace-rb documentation

----

[2019-03-26 10:21] ricbartm opened #729 "MongoDB Ruby client driver compatibility"
Hello folks!!

We are facing some trouble with DataDog dd-trace-rb and out MongoDB integration from a Ruby service we operate.

We are running MongoDB Server 3.4, MongoDB Ruby client version 2.4 and dd-trace-rb version 1.9.0. The situation is as follows:

1. We want to upgrade to a newer MongoDB Server version (e.g. 3.6 and above) because MongoDB Server 3.4 end-of-life-support ends on September 20

[2019-03-26 10:21] ricbartm commented on #729
We will try dd-trace-rb version 0.20.0 or above to see if PR https://github.com/DataDog/dd-trace-rb/pull/704 improves the situation

[2019-03-26 10:27] ricbartm commented on #729
The compatibility issues I pointed out are officially described in the following pages

https://docs.datadoghq.com/tracing/languages/ruby/#compatibility
https://docs.mongodb.com/ecosystem/drivers/driver-compatibility-reference/#ruby-driver-compatibility

[2019-03-26 15:17] delner commented on #729
@ricbartm Thanks for the heads up. Just to clarify, this is a request to support `mongo` >= 2.5?

[2019-03-26 20:04] ricbartm commented on #729
Hello @delner . Thanks for the answer.

The sort answer is yes, please. Nevertheless, I'd like to know if from your experience there is any workaround that we could apply/try. I also understand the answer is "nope, we need to patch every of the public methods of the newer MongoDB client because it changed way too much since 2.4".

I guess this issue I'm describing will get more relevant with time,

[2019-03-27 14:29] ricbartm commented on #729
We have been able to reproduce the issue under Unicorn web server, but not under a standalone Rails console.

So, here is what is happening:
* dd-tracer patches the Mongo driver by modifying `Mongo::Client` class
* This patch consists of `pinning` each cluster address with the dd tracer object:
[code]
https://github.com/DataDog/dd-trace-rb/blob/0.21-dev/lib/ddtrace/contrib/mongodb/instrumentation.

[2019-03-27 14:36] delner commented on #729
Excellent write-up; thanks a ton for this!

The explanation does make a lot of sense, and it's a downside of `Pin` driven tracing, which is something we usually avoid. Ultimately we'd like to get rid of pins in Mongo altogether, if it makes sense and can be managed.

In the interim, if you do end up creating a patch, I'd be very happy to look at it.

[2019-04-09 21:28] piyush-kansal opened #734 "Support for backburner"
Is there a way to make dd-trace-rb work with [Backburner](https://github.com/nesquena/backburner) for now?

[2019-04-10 16:21] #729 closed

[2019-04-10 16:54] delner commented on #729
A fix has been merged to `master` and should roll with 0.21.2.

[2019-04-18 19:37] billthompson commented on #599
For v0.22.0, the solution in https://github.com/DataDog/dd-trace-rb/issues/599#issuecomment-433936577 didn't work for me, but this did:

[code]

[2019-04-23 14:48] delner commented on #691
@senny We haven't been able to reproduce this on our end with what we have so far.

Although I can't say it's likely to help a great deal, I might recommend upgrading to the latest versions of the trace library and Datadog agent. If the issue is still present there, and there's some more diagnostics that you can share to help reproduce this, we'd be happy to re-open this and take another look at i